﻿<div id="modelsBuilder" ng-controller="Umbraco.Dashboard.Extended.CustomTools">
    <fieldset class="grouping" style="padding: 40px;">
        <legend>Content Data Fixes</legend>
        <div ng-show="contentDataFixesClient.ready">
            <button type="button" class="btn btn-success" ng-click="contentDataFixesClient.fixHeaderBanner()"><span>Fix Header Banner</span></button>
            <br>
            <div style="color: green;" ng-show="contentDataFixesClient.responseMessage">{{contentDataFixesClient.responseMessage}}</div>
        </div>

        <div ng-show="!contentDataFixesClient.ready">
            Fixing...
        </div>

        <div ng-show="contentDataFixesClient.error">
            <br>
            <div style="color: red;">{{contentDataFixesClient.errorMessage}}</div>
        </div>
    </fieldset>
</div>
