﻿

<div ng-controller="Macro.GenericButtonSettingsMacro">
    
    <div>
        <label>Title</label>
        <input id="txtTitle" type="text" data-ng-model="model.value.title" />
    </div>

    <div>
        <label>Url</label>
        <input id="txtUrl" type="text" data-ng-model="model.value.url" />
    </div>

    <div>
        <label>Open Link In New Window?</label>
        <input id="chbxOpenLinkInNewWindow" type="checkbox" data-ng-model="model.value.openLinkInNewWindow" />
    </div>
    
    <div>
        <label>Style</label>
        <select id="ddlCssClass"
                data-ng-model="model.value.cssClass"
                data-ng-options="value for value in cssClassOptions"
                ng-change="cssClassChange()"></select>
    </div>

    <div>
        <label>Alignment</label>
        <select id="ddlAlignment"
                data-ng-model="model.value.alignment"
                data-ng-options="value for value in alignmentOptions">
        </select>
    </div>

    
</div>