﻿@inherits UmbracoViewPage

@using McCain.Corporate.Umbraco.Models
@using McCain.Corporate.Umbraco
@using System.Configuration;


@if (ConfigurationManager.AppSettings["KenexaUpdater.Enabled"] == "true")
{

    var featuredJobs = BusinessContext.GetFeaturedJobsFromCache();


    if (featuredJobs != null && featuredJobs.Count() > 0)
    {
    <section class="featured-opportunities">
        <div class="main-title">Featured Opportunities</div>
        <div class="featured-opportunities-holder">
            @foreach (var job in featuredJobs)
            {
                <div class="featured-opportunities-item">
                    <div class="title">@job.Title</div>
                    <div class="description">@Html.Raw(Umbraco.TruncateByWords(job.Description, 30))</div>
                    <div class="location">
                        @RenderFlag(job)
                        <a href="@job.CountryFilterLink" target="_blank">@job.City.ToUpper(), @job.State.ToUpper()</a>
                    </div>
                    @{
                        var buttonSettings = new GenericButtonSettings() { title = "Apply now", cssClass = "", url = job.DetailLink, openLinkInNewWindow = true };
                        Html.RenderPartial("~/Views/Partials/_GenericButton.cshtml", buttonSettings);
                    }
                    <div class="more">More</div>
                    <div class="link-holder">
                        @if (!String.IsNullOrWhiteSpace(job.CountryFilterLink))
                        {
                            <a href="@job.CountryFilterLink" target="_blank">@job.Country jobs</a>
                        }
                        @if (!String.IsNullOrWhiteSpace(job.FunctionFilterLink))
                        {
                            <a href="@job.FunctionFilterLink" target="_blank">@job.Function jobs</a>
                        }
                    </div>
                </div>
                        }
        </div>

        <div class="search-holder">
            <div class="timing">@BusinessContext.GetCurrentJobsCountFromCache() live jobs - @DateTime.Now.ToString("ddd dd MMM HH:mm")</div>
            <a href="@BusinessContext.GetSearchJobsUrl()" target="_blank">SEARCH ALL OPPORTUNITIES</a>
        </div>
    </section>
    }
}

@helper RenderFlag(JobModel job)
{
    if (!String.IsNullOrWhiteSpace(job.Country))
    {
        var imageUrl = job.Country.Replace(" ", "_") + ".png";

       <div class="flag"><img src="/images/flags/@imageUrl" alt="@job.Country flag image" /></div>
    }
}
