﻿@using McCain.Corporate.Umbraco
@using McCain.Corporate.Umbraco.Models
@inherits UmbracoViewPage<NewsListModel>

@if (Model.Items != null)
{
    foreach (var item in Model.Items)
    {
        var title = item.GetPropertyValue("pageTitle");

        var pageContent = BusinessContext.GetGridHtmlStripped(Html.GetGridHtml(item, "pageContent")).TruncateHtml(300) + " ...";

        var articleDate = item.GetPropertyValue<DateTime>("articleDate");

        <div class="news-item">
            <div class="date">@articleDate.ToString("dd MMMM yyyy")</div>
            <div class="title">@title</div>
            <div class="text">
                @Html.Raw(pageContent)
                <div class="fadeout"></div>
            </div>
            <div class="button-holder yellow-border rounded"><a href="@item.Url" class="button" role="button">Read more</a></div>
        </div>
    }
}
