﻿@using McCain.Corporate.Umbraco
@using McCain.Corporate.Umbraco.Models

@inherits UmbracoViewPage<SearchResultsModel>


<section class="latest-news-section">
    <div class="latest-news-holder">
        @foreach (var item in Model.Items)
        {
            <div class="latest-news-item">
                
                @{
                    var articleDate = item.GetPropertyValue<DateTime>("articleDate");
                    <div class="date">@articleDate.ToString("dd MMMM yyyy")</div>
                }
                
                <div class="title"><a href="@item.Url">@item.GetPropertyValue("pageTitle")</a></div>

                @{
                    var pageContent = BusinessContext.GetGridHtmlStripped(Html.GetGridHtml(item, "pageContent")).TruncateHtml(300) + " ...";

                    <div class="text">@Html.Raw(pageContent)</div>
                }
            </div>
         }
         @{ Html.RenderPartial("~/Views/Partials/Common/_Paging.cshtml", Model.PagingInfo); }
    </div>

</section>
