﻿@using McCain.Corporate.Umbraco
@using McCain.Corporate.Umbraco.Models

@inherits UmbracoViewPage<SearchResultsModel>

<section class="latest-news-section">
    @if (Model.HasResults)
    {



        <div class="latest-news-holder">
            @foreach (var item in Model.Items)
            {
                if (item != null)
                {

                    <div class="latest-news-item">
                        <div class="title"><a href="@item.Url">@item.GetPropertyValue("pageTitle")</a></div>

                        @{
                            var pageContent = BusinessContext.GetGridHtmlStripped(Html.GetGridHtml(item, "pageContent"));

                            var highlightText = Model.GetSearchHighlightText(Umbraco, "pageContent", pageContent).TruncateHtml(500);
                            if (String.IsNullOrEmpty(highlightText))
                            {
                                highlightText = pageContent.TruncateHtml(500);
                            }

                            highlightText += " ...";

                            <div class="text">@Html.Raw(highlightText)</div>
                        }

                        <div class="location">
                            @foreach (var ancestor in item.Ancestors().Where(x => x.IsVisible()).OrderBy(x => x.Level))
                            {
                                <a href="@ancestor.Url">@ancestor.GetPropertyValue("pageTitle")</a> @:&nbsp;&gt;&nbsp;
                                }
                            <a href="@item.Url">@item.GetPropertyValue("pageTitle")</a>
                        </div>

                    </div>
                }
            }
            @{ Html.RenderPartial("~/Views/Partials/Common/_Paging.cshtml", Model.PagingInfo); }
        </div>
    }
    else
    {
        <div class="latest-news-header">
            <div class="main-title">No results found for '@Model.SearchTerm'.</div>
        </div>
    }
</section>
