﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using System.Collections.Generic
@using McCain.Corporate.Umbraco

@{ 
    var parent = Model.Content.Ancestor();
    var stories = parent.Children.Where(i => i.DocumentTypeAlias == StoryPageDocumentType.ModelTypeAlias && i.Id != Model.Content.Id );
}

@if (stories != null && stories.Any())
{
    <section class="more-stories">
        <div class="main-title">More Stories</div>
        <div class="more-stories-holder">

            @foreach (var story in stories)
            {
                var videoURL = BusinessContext.SearchYoutubeURL(story.GetPropertyValue<string>("pageContent"));

                if (!String.IsNullOrWhiteSpace(videoURL))
                {
                    <div class="more-stories-item">
                        <div class="image-holder">
                            <div class="image-title">MY M<sup>c</sup>CAIN STORY</div>

                            @{ Html.RenderPartial("~/Views/Partials/Common/_EmbedVideo.cshtml", new ViewDataDictionary() { { "videoURL", videoURL } }); }
                            
                        </div>
                        <div class="title">@story.GetPropertyValue("pageTitle")</div>
                    </div>
                }
            }
        </div>
    </section>
}