﻿
@using McCain.Corporate.Umbraco

@{
    var listsContentNode = new ListsContent(Settings.GetListsContentNode());

    var timelineList = listsContentNode.TimelineList;
}

<section class="panel-holder">
    @foreach (var timelineItem in timelineList.Select(x => new TimelineListItem(x)))
    {
        var themeCss = (timelineItem.Theme == null) ? "yellow" : timelineItem.Theme.ToString();

        <div class="panel-item  @themeCss">
            <div class="panel-item-content timeline">
                <div class="main-title">@timelineItem.Title</div>
                <div class="slider home-carousel">
                    <div class="swiper-container" data-slides-per-view="3" data-is-looped="false">
                        <div class="swiper-wrapper">
                            @foreach (var timelineSlide in timelineItem.SliderContent.Select(x => new TimelineSlide(x)))
                            {
                                <div class="swiper-slide">
                                    <img class="bg-image" src="@timelineSlide.Image.Url" alt="Image">
                                    <div class="timeline-content">
                                        <div class="timeline-title">@Html.Raw(HttpUtility.HtmlDecode(timelineSlide.Title))</div>
                                        <div class="timeline-sub-title">@Html.Raw(HttpUtility.HtmlDecode(timelineSlide.Subtitle))</div>
                                        <div class="timeline-text">@Html.Raw(timelineSlide.Text)</div>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="swiper-scrollbar"></div>
                    </div>
                    <div class="swiper-button-next swiper-button-white"></div>
                    <div class="swiper-button-prev swiper-button-white"></div>
                </div>
            </div>
        </div>
    }
</section>