﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using System.Collections.Generic
@using McCain.Corporate.Umbraco
@{
    var listsContentNode = new ListsContent(Settings.GetListsContentNode());

    var questions = listsContentNode.QuestionsList;
    var audienceList = listsContentNode.AudienceList;
}
<section class="like-to-know">
    <div class="like-to-know-holder">
        @if (questions != null)
        {
            <div class="dropdown-holder">
                <div class="dropdown-title" id="like-to-know-ddl">I would like to know about...</div>
                <div class="dropdown-items">
                    @foreach (var question in questions)
                    {
                        string link = "";

                        if (question.Link.StartsWith("#"))
                        {
                            link = String.Concat("/information-centre/faqs", question.Link);
                        }
                        else
                        {
                            link = question.Link;
                        }
                        
                        <a href="@link" @{if (question.NewWindow) { <text> target="_blank" </text>     } }>@question.Caption</a>
                    }
                </div>
            </div>
        }
        @if (audienceList != null)
        {
            <div class="audience-holder">

                @foreach (var audienceItem in audienceList.Select(x => new ImageWithLink(x)).Where(x => x.Image != null && x.Link.FirstOrDefault() != null))
                {
                    <a class="audience-item" href="@audienceItem.Link.FirstOrDefault().Link">
                        <div class="audience-image"><img src="@audienceItem.Image.Url" alt="@BusinessContext.GetImageAltTextOrDefault(audienceItem.Image, "Box Image")"></div>
                        <div class="audience-title"><span>For</span><br /><span class="purpose-title">@audienceItem.Link.FirstOrDefault().Caption</span></div>
                    </a>
                }
            </div>
        }
       
    </div>
</section>
