﻿@inherits UmbracoViewPage

@{
    var accordion = new Accordion(Model);

    var hasTitle = !String.IsNullOrEmpty(accordion.SectionTitle);
    var hasDescription = (accordion.SectionDescription != null && !String.IsNullOrEmpty(accordion.SectionDescription.ToString()));

}

<section class="accordion">
    @if (hasTitle || hasDescription)
    {
        <div class="accordion-section-header">
            @if (hasTitle)
            {
                <div class="main-title">@accordion.SectionTitle</div>
            }
            @if (hasDescription)
            {
                <div class="text">
                    @Html.Raw(accordion.SectionDescription)
                </div>
            }
        </div>
    }
    @if (accordion.Items != null)
    {
        <div class="accordion-holder">
            @foreach (var item in accordion.Items.Select(x => new AccordionItem(x)))
            {
                <div class="accordion-item" @{ if (!String.IsNullOrEmpty(item.CssId)) { <text>id="@item.CssId"</text> } }>
                    <div class="title toggle-action">@Html.Raw(HttpUtility.HtmlDecode(item.Header))</div>
                    <div class="content">@Html.Raw(item.ContentRte)</div>
                </div>
            }
        </div>
    }
</section>