﻿@using McCain.Corporate.Umbraco

@inherits UmbracoViewPage
@{
    TextOnImageWidget widget = new TextOnImageWidget(Model);
}


@if (widget.Items != null && widget.Items.Any())
{
    int count = widget.Items.Count();

    <div class="text-on-image-wrapper @widget.CssClass columns-@count @{ if (widget.BackgroundImageMobile != null){ <text>has-mobile-global</text> } }">

        <div class="text-on-image-inner">
            @foreach (var item in widget.Items.Select(x => new TextOnImageListItem(x)))
            {
                <div class="text-on-image-item">
                    <div class="article-content">
                        @if (!String.IsNullOrEmpty(item.Title))
                        {
                            <div class="title">@Html.Raw(HttpUtility.HtmlDecode(item.Title))</div>
                        }
                        @if (item.Content != null)
                        {
                            <div class="text">@Html.Raw(item.Content)</div>
                        }
                    </div>
                    @if (item.BackgroundImage != null)
                    {
                        <div class="tablet-image"><img src="@item.BackgroundImage.Url" alt="@BusinessContext.GetImageAltTextOrDefault(item.BackgroundImage, "Banner Image")" /></div>
                    }
                    @if (item.BackgroundImageMobile != null)
                    {
                        <div class="mobile-image"><img src="@item.BackgroundImageMobile.Url" alt="@BusinessContext.GetImageAltTextOrDefault(item.BackgroundImageMobile, "Banner Image")" /></div>
                    }
                </div>
            }
        </div>

        @if (widget.BackgroundImage != null)
        {
            <div class="desktop-image">
                <img src="@widget.BackgroundImage.Url" alt="@BusinessContext.GetImageAltTextOrDefault(widget.BackgroundImage, "Banner Image")" />
            </div>
        }
        @if (widget.BackgroundImageMobile != null)
        {
            <div class="mobile-image"><img src="@widget.BackgroundImageMobile.Url" alt="@BusinessContext.GetImageAltTextOrDefault(widget.BackgroundImageMobile, "Banner Image")" /></div>
        }
    </div>
}