﻿.mccain-gcf {
    width: 100%;
}

.mccain-gcf-inner {
    max-width: 1060px;
    margin: 0 auto;
    padding: 20px 0px;
}


.mccain-gcf .gcf-form .el-col {
    padding: 0px 15px;
}

.mccain-gcf .gcf-form .el-form-item__label {
	position: static;
    float: none;
    width: 100%;
    text-align: left;
}

.mccain-gcf .gcf-form .el-select {
    width: 100%;
}

.mccain-gcf .gcf-form .el-date-editor .el-input__suffix {
    border-left: none !important;
}

.mccain-gcf .gcf-form .el-date-editor.el-input {
    width: 100%;
}

.mccain-gcf .gcf-form .button-holder-submit {
    margin: 20px 0;
    text-align: right;
    width: 100%;
    display: block;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
}

.mccain-gcf .gcf-form .el-upload__input {
    display: none;
}

.mccain-gcf .gcf-form .gcf-separator {
    width: 100%;
    border-top: 4px solid #fdde4b;
    margin: 10px 0 30px 0;
}

.mccain-gcf .gcf-form .el-input__inner {
    border: 1px solid #A9A9A9;
    font-size: 16px;
    color: #606266;
}



.mccain-gcf .gcf-form .gcf-section-title {
    margin: 10px 0;
    font-size: 16px;
}

.mccain-gcf .gcf-form .gcf-section-title  h3 {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

    .mccain-gcf .gcf-form .gcf-section-title h4 {
        font-size: 16px;
        font-weight: 400;
        font-family: 'Open Sans', sans-serif;
    }

    .mccain-gcf .gcf-form .gcf-section-title p {
        font-size: 14px;
        line-height: 1.5;
        margin-top: 10px;
    }

.mccain-gcf .gcf-form .el-textarea__inner {
    border: 1px solid #A9A9A9;
}


.mccain-gcf .gcf-form .el-form-item.is-success .el-input__inner,
.mccain-gcf .gcf-form .el-form-item.is-success .el-input__inner:focus,
.mccain-gcf .gcf-form .el-form-item.is-success .el-textarea__inner,
.mccain-gcf .gcf-form .el-form-item.is-success .el-textarea__inner:focus {
    border-color: #dcdfe6;
    color: #606266;
}


.mccain-gcf .gcf-form .el-select .el-input.is-focus .el-input__inner {
    border-color: #dcdfe6;
}

.mccain-gcf .gcf-form .el-form-item.is-error .el-input__inner,
.mccain-gcf .gcf-form .el-form-item.is-error .el-input__inner:focus,
.mccain-gcf .gcf-form .el-form-item.is-error .el-textarea__inner,
.mccain-gcf .gcf-form .el-form-item.is-error .el-textarea__inner:focus,
.mccain-gcf .gcf-form .el-message-box__input input.invalid,
.mccain-gcf .gcf-form .el-message-box__input input.invalid:focus {
    border-color: #f56c6c !important;
}


/*checkbox*/
.mccain-gcf .gcf-form .el-checkbox__inner {
    width: 18px;
    height: 18px;
    border: 1px solid #A9A9A9;
}

    .mccain-gcf .gcf-form .el-checkbox__inner::after {
        height: 8px;
        top: 2px;
        left: 5px;
        width: 4px;
    }

.mccain-gcf .gcf-form .el-checkbox__input.is-checked .el-checkbox__inner,
.mccain-gcf .gcf-form .el-checkbox__input.is-indeterminate .el-checkbox__inner {
    background-color: #606266;
}

.mccain-gcf .gcf-form .el-checkbox__input.is-checked + .el-checkbox__label {
    color: #606266;
}

/*radio*/
.mccain-gcf .gcf-form .el-radio__input.is-checked + .el-radio__label {
    color: #606266;
}

.mccain-gcf .gcf-form .el-radio__input.is-checked .el-radio__inner {
    border-color: #606266;
    background: #606266;
}

/*place holder for IE styling*/
.mccain-gcf .gcf-form :-ms-input-placeholder {
    color: #C0C4CC !important;
    font-weight: 400 !important;
}

.el-select-dropdown__item.hover {
    background-color: #f5f7fa;
	color: #000;
}

.mccain-gcf .gcf-form .el-form-item__label {
    font-size: 16px;
    font-weight: 400;
}

.mccain-gcf .gcf-form .button-holder-upload {
    margin-top:5px;
}

.gcf-button {
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    background-color: #fee000;
    color: #000;
    
}
.gcf-button span {
    font-weight: bold;
    text-transform: uppercase;
}

    .gcf-button:active, .gcf-button:focus, .gcf-button:hover {
        background-color: #000;
        
    }

        .gcf-button:active span, .gcf-button:focus span, .gcf-button:hover span {
            color: #fee000;
        }

.gcf-form-item {
    display: inline-block;
}

.gcf-form-item .el-form-item {
    padding-left: 10px;
}

    .gcf-form-item:first-child .el-form-item, .gcf-form-item:first-of-type .el-form-item {
        padding-left: 0;
    }

.gcf-p75 {width: 75%;}
.gcf-p70 { width: 70%; }
.gcf-p50 {width: 50%;}
.gcf-p30 {width: 30%;}    
.gcf-p25 {width: 25%;}    

.gcf-tooltip {
    display: block;
    float: right;
    line-height: 40px;
    cursor: pointer;
    color: #e23d23;
}

.el-popper img {
    max-width: 300px;
    padding: 5px 0;
    display: block;
}

.el-popper[x-placement^=top].gcf-popper {
    margin-bottom: 0;
}

.gcf-tooltip-body p {
    font-size: 1em;
    word-break: normal;
}
.gcf-tooltip-body {
    width: 440px;
}
p.gcf-tooltip-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
}
.gcf-tooltip-body img {
    max-width: 125px;
}

.mccain-gcf .gcf-form .el-form-item__error {
    top: 100%;
    margin-left: 0;
}

.mccain-gcf .gcf-form fieldset {
    border: 1px solid #ccc;
    padding: 10px 16px 10px 16px;
    border-radius: 4px;
    margin: 0px 0 20px 0;
}
.mccain-gcf .gcf-form fieldset legend {
    width: auto;
    padding: 10px;
}

/*GB*/
.gcf-united-kingdom .gcf-textarea-comments textarea {
    height: 145px;
}

.gcf-united-kingdom .gcf-datepicker-expiryDate,
.gcf-united-kingdom .gcf-input-storeName {
    padding-left: 0;
}

.gcf-united-kingdom .gcf-tooltip {
    color: #606266;
}
/*first notification*/
.mccain-gcf-inner.gcf-firstnotification {
    max-width: 1200px;
}

.mccain-gcf .gcf-firstnotification .gcf-form .el-form-item__label {
    float: left;
    width: 43%;
    font-size: 14px;
    color: #000;
    text-align: left;
    line-height: 1em;
    margin: 15px 0 5px 0;
}

.mccain-gcf .gcf-firstnotification .gcf-form .el-form-item.is-required .el-form-item__label {
    font-weight: 600;
}

.mccain-gcf .gcf-firstnotification .gcf-form .el-form-item__content {
    float: right;
    width: 57%;
}

.mccain-gcf .gcf-firstnotification .gcf-form .el-input__inner {
    font-size: 14px;
    border: 1px solid #A9A9A9;
    border-radius: 2px;
    height: 32px;
    line-height: 32px;
}


.mccain-gcf .gcf-firstnotification .gcf-form .el-input-number {
    width: 100%;
}


.mccain-gcf .gcf-firstnotification .gcf-form .el-input-number.is-controls-right .el-input-number__decrease,
.mccain-gcf .gcf-firstnotification .gcf-form .el-input-number.is-controls-right .el-input-number__increase {
    line-height: 15px;
}


.mccain-gcf .gcf-firstnotification .gcf-form .el-form-item {
    margin-bottom: 15px;
}

.mccain-gcf .gcf-firstnotification .gcf-form .el-form-item__error {
    padding-top: 0;
}

.mccain-gcf .gcf-firstnotification .gcf-form  .el-input__icon {
    line-height: 32px;
}

.mccain-gcf .gcf-firstnotification .gcf-form .gcf-select-consumerAffairsCommunication {
    margin: 0 auto 15px auto;
}

.mccain-gcf .gcf-firstnotification .gcf-form .gcf-select-consumerAffairsCommunication .el-form-item__label {
    width: auto;
}

.mccain-gcf .gcf-firstnotification .gcf-form .gcf-select-consumerAffairsCommunication .el-form-item__content {
    width: 200px;
    float: left;
}

.mccain-gcf .gcf-firstnotification .gcf-form .gcf-separator {
    border-top: 2px solid #A9A9A9;
}

.mccain-gcf .gcf-firstnotification .gcf-form .gcf-person-completing-holder {
    padding-top: 0px;
}

.mccain-gcf .gcf-firstnotification .gcf-form .gcf-person-completing-inputs {    
    padding-top: 10px;
}

.mccain-gcf .gcf-firstnotification .gcf-form .gcf-person-completing-holder h4 {
    font-weight: bold;
    font-size: 14px;
    padding-bottom: 10px;
}

.mccain-gcf .gcf-firstnotification .gcf-form .gcf-textarea-comments .el-form-item__label,
.mccain-gcf .gcf-firstnotification .gcf-form .gcf-textarea-specialInstruction .el-form-item__label {
    float: none;
    width: 100%;
}

.mccain-gcf .gcf-firstnotification .gcf-form .gcf-textarea-comments .el-form-item__content,
.mccain-gcf .gcf-firstnotification .gcf-form .gcf-textarea-specialInstruction .el-form-item__content {
    float: none;
    width: 100%;
}

.mccain-gcf .gcf-firstnotification .gcf-form .gcf-textarea-comments .el-form-item__content textarea,
.mccain-gcf .gcf-firstnotification .gcf-form .gcf-textarea-specialInstruction .el-form-item__content textarea {
    height: 160px;
    border: 1px solid #A9A9A9;
}

.mccain-gcf .gcf-firstnotification .gcf-form .gcf-textarea-specialInstruction .el-form-item__content textarea {
    height: 120px;
}


.mccain-gcf .gcf-firstnotification .gcf-form .gcf-section-title h4 {
    font-size: 14px;
    font-weight: bold;
}

.mccain-gcf .gcf-firstnotification .gcf-form .button-holder-upload {
    margin-bottom: 10px;
}

.mccain-gcf .gcf-form .gcf-checkbox-isPrivacyPolicyAgreed .el-form-item__label {
    display: none;
}

.mccain-gcf .gcf-form .gcf-checkbox-isPrivacyPolicyAgreed .el-checkbox__label {
    white-space:normal;
    padding-top: 5px;
}

.mccain-gcf .gcf-form .gcf-checkbox-isPrivacyPolicyAgreed .el-form-item__content {
    line-height: 1em;
    width: 100%;
}

.mccain-gcf .gcf-form .gcf-checkbox-isPrivacyPolicyAgreed .el-checkbox__input {
    vertical-align: top;
    padding-top: 5px;
}

.el-checkbox__label a {
    font-size: inherit;
    font-weight: bold;
}


.gcf-alert-content ul {
    padding: 0 20px;
}


.mccain-gcf .gcf-firstnotification .gcf-form .gcf-tooltip {
    display: inline-block;
    color: #606266;
    margin-left: 5px;
    line-height: 1em;
    float: none;
}



@media only screen and (max-width: 900px) {
 
}

@media only screen and (max-width: 768px) {
    .mccain-gcf .gcf-firstnotification .gcf-form .gcf-select-consumerAffairsCommunication .el-form-item__label {
        line-height: 1.5em;
        text-align: center;
        margin-bottom:10px;
    }

    .mccain-gcf .gcf-firstnotification .gcf-form .gcf-select-consumerAffairsCommunication .el-form-item__content {
        width: 100%;
    }

}

@media only screen and (max-width: 600px) {
    .mccain-gcf .gcf-firstnotification .gcf-form .el-form-item__label {
        width: auto;
        float: none;
    }

    .mccain-gcf .gcf-firstnotification .gcf-form .el-form-item__content {
        float: none;
        width: 100%;
    }
}


@media only screen and (max-width: 400px) {
    
}

/*brew city*/
.wf-active .mccain-gcf .gcf-form .gcf-checkbox-isPrivacyPolicyAgreed .el-checkbox__label {
    color: #fff;
    font-size: 26px;
}

