/* Css reset start */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
input, textarea {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    line-height: 1em;
}

span, p {
    color: #000;
}

a img, :link img, :visited img {
	border: 0;
}
sup {
	position: relative;
	font-size: 70% !important;
	font-weight: bold !important;
}
img {
	display: block;
	max-width: 100%;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}

body * {
	font-family: Montserrat, "Proxima Nova", sans-serif;
}

b {
    font-weight: 700;
}

a, p, input[type=text], textarea, label {
	color: inherit;
	text-decoration: none;
	font-family: Montserrat, "Proxima Nova", sans-serif;
	font-size: 18px;
	line-height: 1.5em;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	font-weight: normal;
}
blockquote:before, blockquote:after,q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: none;
}
/* meyerweb css reset end */

em {font-style: italic;}
strong, strong span, strong em {font-weight: bold;}
h1, h2, h3, h5 {
	font-family: "Red Hat Display", Avenir, sans-serif;
	font-weight: bold;
}
h4, h6 {
	font-family: Montserrat, "Proxima Nova", sans-serif;
	font-weight: bold;
}
h1{font-size: 56px}
h2{font-size: 38px}
h3{font-size: 28px}
h4{font-size: 20px}
h5{font-size: 15px}
h6{font-size: 13px}


/* For HTML5 to be rendered correctly in old browsers */
article,aside,figcaption,figure,footer,header,hgroup,nav,section,time {display: block;}