﻿/* Slider fixes */

.swiper-slide {
    display: inline-block;
    padding: 0 5px;
}
    .swiper-slide img {
        max-width: 150px;
        width: auto;
        height: auto;
    }

.swiper-slide .slide-content .bg-image {
    max-width: 150px;
    width: auto;
    height: auto;
}

.widget.carousel .video-holder iframe {
    max-width: 560px;
}