﻿/**umb_name:Heading 1*/
h1 {
}

/**umb_name:Heading 2*/
h2 {
}

/**umb_name:Heading 3*/
h3 {
}

/**umb_name:Quote*/
.quote {
    
}

/**umb_name:RobotoSlab*/
.RobotoSlab {

}

/**umb_name:Festival*/
.Festival {
}

/**umb_name:RedHatDisplay*/
.RedHatDisplay {
}

/**umb_name:Yellow Title*/
.yellow-title {

}

/**umb_name:Banner Title*/
.white-banner-title {
    background-color: #000;
    line-height: 1em;
    color: #fff;
}

/**umb_name:Banner Paragraph*/
.white-banner-paragraph {
    background-color: #000;
    line-height: 1em;
    color: #fff;
}

/**umb_name: margin top 20px*/
.margin-top-20 {
}

/**umb_name: margin top 40px*/
.margin-top-40 {

}