.cc-window {
  opacity: 1;
  
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  -ms-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

.cc-window.cc-invisible {
  opacity: 0;
}

/* only animate ifhas class 'cc-animate' */
.cc-animate.cc-revoke {
  -webkit-transition: transform 1s ease;
  -moz-transition: transform 1s ease;
  -ms-transition: transform 1s ease;
  -o-transition: transform 1s ease;
  transition: transform 1s ease;
}
.cc-animate.cc-revoke.cc-top {
  transform: translateY(-2em);
}
.cc-animate.cc-revoke.cc-bottom {
  transform: translateY(2em);
}
.cc-animate.cc-revoke.cc-active.cc-top {
  transform: translateY(0);
}
.cc-animate.cc-revoke.cc-active.cc-bottom {
  transform: translateY(0);
}
.cc-revoke:hover {
  transform: translateY(0);
}

.cc-grower {
  /* Initially we don't want any height, and we want the contents to be hidden */
  max-height: 0;
  overflow: hidden;

  /* Set our transitions up. */
  -webkit-transition: max-height 1s;
  -moz-transition: max-height 1s;
  -ms-transition: max-height 1s;
  -o-transition: max-height 1s;
  transition: max-height 1s;
}


/* the popup window */
.cc-window, .cc-revoke {
  position: fixed;
  overflow: hidden;
  box-sizing: border-box; /* exclude padding when dealing with width */

  font-family: Helvetica, Calibri, Arial, sans-serif;
  font-size: 16px; /* by setting the base font here, we can size the rest of the popup using CSS `em` */
  line-height: 1.5em;

  display: flex;
  flex-wrap: nowrap;

  /* the following are random unjustified styles - just because - should probably be removed */
  z-index: 10001;
}

.cc-window.cc-static {
  position: static;
}

/* 2 basic types of window - floating / banner */
.cc-window.cc-floating {
  padding: 2em;
  max-width: 24em; /* 1em == 16px therefore 24em == 384px */
  flex-direction: column;
}
.cc-window.cc-banner {
  padding: 1em 1.8em;
  width: 100%;
  flex-direction:  row;
}

.cc-revoke {
  padding: .5em;
}
.cc-revoke:hover {
  text-decoration: underline;
}

.cc-header {
  font-size: 18px;
  font-weight: bold;
}

/* clickable things */
.cc-btn, .cc-link, .cc-close, .cc-revoke {
  cursor: pointer;
}

.cc-link {
  opacity: .8;
  display: inline-block;
  /*padding: .2em;*/
  text-decoration: underline;
  font-size: inherit;
  line-height: inherit;
  font-family: Helvetica, Calibri, Arial, sans-serif;
}
.cc-link:hover {
  opacity: 1;
}
.cc-link:active, .cc-link:visited {
  color: initial;
}


.cc-btn {
  display: block;
  padding: .4em .8em;
  font-size: 0.9em;
  font-weight: bold;
  border-width: 2px;
  border-style: solid;
  text-align: center;
  white-space: nowrap;
}

.cc-banner .cc-btn:last-child {
  min-width: 140px;
}

.cc-highlight .cc-btn:first-child {
  background-color: transparent;
  border-color: transparent;
}

.cc-highlight .cc-btn:first-child:hover,
.cc-highlight .cc-btn:first-child:focus {
  background-color: transparent;
  text-decoration: underline;
}


.cc-close {
  display: block;
  position: absolute;
  top: .5em;
  right: .5em;
  font-size: 1.6em;
  opacity: .9;

  /* seeing as this contains text and not an image, the element taller than it is wide (because it is text) */
  /*  - we want it to be a square, because it's acting as an icon */
  /*  - setting the line height normalises the height */
  line-height: .75;
}
.cc-close:hover,
.cc-close:focus {
  opacity: 1;
}


/* This file should contain CSS that modifies the popup layout. */
/* By layout, we mean the physical position of the elements on the popup window, and the margin / padding around those elements. */


.cc-revoke.cc-top {top:0; left: 3em; border-bottom-left-radius:.5em;border-bottom-right-radius:.5em;}
.cc-revoke.cc-bottom {bottom:0; left: 3em; border-top-left-radius:.5em;border-top-right-radius:.5em;}
.cc-revoke.cc-left{left: 3em; right: unset;}
.cc-revoke.cc-right{right: 3em; left: unset;}

/**************************************** FLOATING ****************************************/

/* these classes position the floating element */
.cc-top {top: 1em} .cc-left {left: 1em} .cc-right {right: 1em} .cc-bottom {bottom: 1em}


/* links that are direct decendants should be displayed as block */
.cc-floating>.cc-link {
  margin-bottom: 1em
}

.cc-floating .cc-message {
  display: block;
  margin-bottom: 1em;
}


.cc-window.cc-floating .cc-compliance {
  flex: 1 0 auto;
}

/**************************************** BANNER ****************************************/

.cc-window.cc-banner {
  align-items: center;
}

.cc-banner.cc-top {
  left: 0; right: 0; top: 0;
}
.cc-banner.cc-bottom {
  left: 0; right: 0; bottom: 0;
}

.cc-banner .cc-message {
  flex: 1;
  color: white;
  line-height: 1.5em;
}

/* COMPLIANCE BOX */

.cc-compliance {
  display: flex;
  align-items: center;
  align-content: space-between;
}
.cc-compliance>.cc-btn {
  flex: 1;
}

.cc-btn + .cc-btn {
  margin-left: .5em;
}



@media print {
  .cc-window, .cc-revoke {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .cc-btn {white-space: normal;}
}

/* dimensions for 'iPhone6 Plus' and lower */
@media screen and (max-width: 414px) and (orientation: portrait),
       screen and (max-width: 736px) and (orientation: landscape) {
  .cc-window.cc-top {top:0;}
  .cc-window.cc-bottom {bottom:0;}
  .cc-window.cc-banner,.cc-window.cc-right,.cc-window.cc-left {left:0;right:0;}

  .cc-window.cc-banner {flex-direction: column;}
  .cc-window.cc-banner .cc-compliance {flex: 1}
  .cc-window.cc-floating {max-width: none;}
  .cc-window .cc-message {margin-bottom: 1em; margin-top: 1em;}
  .cc-window.cc-banner {align-items: unset;}
}


/* iPhone 6 */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {
}

/* iPhone 6 plus */
@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) {
}

/* iPhone 5 & 5S */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {}

/* iPhone 2G - 4S */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {}



/* Classic */

.cc-floating.cc-theme-classic {
  padding: 1.2em;
  border-radius: 5px;
}

.cc-floating.cc-type-info.cc-theme-classic .cc-compliance {
  text-align: center;
  display: inline;
  flex: none;
}

.cc-theme-classic .cc-btn {
  border-radius: 5px;
}
.cc-theme-classic .cc-btn:last-child {
  min-width: 140px;
}

.cc-floating.cc-type-info.cc-theme-classic .cc-btn {
  display: inline-block;
}


/* Edgeless */

.cc-theme-edgeless.cc-window {
  padding: 0;
}

.cc-floating.cc-theme-edgeless .cc-message {
  margin: 2em;
  margin-bottom: 1.5em;
}

.cc-banner.cc-theme-edgeless .cc-btn {
  margin: 0;
  padding: .8em 1.8em;
  height: 100%;
}

.cc-banner.cc-theme-edgeless .cc-message {
  margin-left: 1em;
}

.cc-floating.cc-theme-edgeless .cc-btn +.cc-btn {
  margin-left: 0;
}

/* Custom */
.cc-window.cc-banner {
	padding: 2em 5em 2em 3em;
	text-align: justify;
}

.cc-close {
	top: .4em;
	right: 1.2em;
	font-size: 2em;
	color: #fff;
}

.cc-window.cc-floating.cc-modal {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%;
  max-width: 100%;
  z-index: 10001;
}

.cc-window.cc-floating.cc-modal .cc-modal-inner {
  max-width: 30em;
  padding: 2em 2.2em;
  position: relative;
  margin: 0 auto;
  top: 37.5%;
}


.cc-window.cc-floating.cc-modal .cc-modal-inner .cc-close {
	right: 0.35em;
	top: 0.35em;
}

.cc-window.cc-floating.cc-modal .cc-modal-inner .cc-message {
	margin-bottom: 0;
	line-height: 1.5em;
	font-size: 16px;
}
.cc-window.cc-floating.cc-modal .cc-modal-inner .cc-message a {
	line-height: 1.5em;
	font-size: 16px;
}

@media screen and (max-width: 768px) {
    .cc-window.cc-floating {
        padding: 1em;
    }

    .cc-window.cc-floating.cc-modal .cc-modal-inner {
        padding: 1em;
    }


    .cc-window.cc-floating.cc-modal .cc-modal-inner .cc-message {
        margin-top: 1em;
        margin-bottom: 1em;
        line-height: 1.4em;
        font-size: 14px;
    }
	.cc-window.cc-floating.cc-modal .cc-modal-inner .cc-message a {
		line-height: 1.4em;
        font-size: 14px;
	}

    .cc-close {
        font-size: 1.6em;
        right:0.2em;
        top: 0.1em;
    }


    .cc-window .cc-message {
        line-height: 1.4em;
        font-size: 14px;
        margin-bottom: 0.1em;
        margin-top: 0.6em;
    }

    .cc-window.cc-banner {
        padding: 1em 2.4em 1em 1em;
    }
}

@media screen and (max-width: 400px) {
    .cc-window.cc-floating.cc-modal .cc-modal-inner .cc-message {
        font-size: 12px;
    }
	.cc-window.cc-floating.cc-modal .cc-modal-inner .cc-message a {
        font-size: 12px;
    }

    .cc-window .cc-message {
        font-size: 12px;
    }
}

/*Ipad fix*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1366px) {
    .cc-window.cc-top {
        top: 0;
    }

    .cc-window.cc-bottom {
        bottom: 0;
    }

    .cc-window.cc-banner, .cc-window.cc-right, .cc-window.cc-left {
        left: 0;
        right: 0;
    }

    .cc-window.cc-banner {
        flex-direction: column;
    }

        .cc-window.cc-banner .cc-compliance {
            flex: 1
        }

    .cc-window.cc-floating {
        max-width: none;
    }

    .cc-window .cc-message {
        margin-bottom: 0.8em;
        margin-top: 0.8em;
    }

    .cc-window.cc-banner {
        align-items: unset;
    }
}


/*Cookie Declaration Overlay*/
/* The Overlay (background) */
.cd-overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    min-height: 100%;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 999999; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.95); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
    bottom: 0;
    overflow-y: scroll;
}

/* Position the content inside the overlay */
.cd-overlay-content {
    position: relative;
    top: 5%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: left; /* Centered text/links */
    margin: 0 auto;
    max-width: 1200px;
    padding: 40px 20px;
    color: #fff;
}

.cd-overlay-content .cd-title {
	font-size: 48px;
	margin-bottom: 20px;
	color: #fff;
}

.cd-overlay-content .CookieDeclaration {
	font-size: 14px;
}

.cd-overlay-content .CookieDeclaration p {
	color: #fff;
	font-size: 14px;
}

.cd-overlay-content .CookieDeclaration div {
	font-size: 14px;
}

.cd-overlay .CookieDeclaration a {
    color: #eaac01;
	font-size: 14px;
}

.cd-overlay .CookieDeclaration span {
	font-size: 14px;
}

.cd-overlay .CookieDeclarationTable {
	font-size: 14px;
}

#CybotCookiebotDialog #CybotCookiebotDialogBody {
	max-width: 800px;
}

#CybotCookiebotDialog div {
	font-size: 14px;
}

#CybotCookiebotDialogBodyContentText a {
	font-size: 14px;
}

/* Position the close button (top right corner) */
.cd-overlay .cd-closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #fff;
    text-decoration: none;
	z-index: 1;
}
.cd-overlay .cd-closebtn:hover {
	text-decoration: none;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 600px) {
    .cd-overlay .cd-closebtn {
        font-size: 40px;
        top: 10px;
        right: 25px;
    }
}

@media screen and (max-width: 768px) {
    .cd-overlay-content .cd-title {
        font-size: 32px;
        margin-bottom: 30px;
    }
}