﻿@using McCain.Corporate.Umbraco
@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    var imageId = Model.MacroParameters["Image"].ToString();
    var mobileImageId = Model.MacroParameters["MobileImage"].ToString();
    var content = Model.MacroParameters["Text"].ToString();
    var cssClass = Model.MacroParameters["CssClass"].ToString();
}
<section class="widget banner-block @cssClass">
    @if (!String.IsNullOrEmpty(content))
    {
        <div class="banner-content">@Html.Raw(HttpUtility.HtmlDecode(content))</div>
    }

    @if (!String.IsNullOrEmpty(imageId))
    {
        var image = Umbraco.Media(imageId);

        <div class="banner-image @{ if (!String.IsNullOrEmpty(mobileImageId)) { <text>has-mobile-image</text> } }">
            <img src="@image.Url" alt="@BusinessContext.GetImageAltTextOrDefault(image, "Banner Image")" class="desktop" />
            @if (!String.IsNullOrEmpty(mobileImageId))
            {
                var mobileImage = Umbraco.Media(mobileImageId);

                <img src="@mobileImage.Url" alt="@BusinessContext.GetImageAltTextOrDefault(mobileImage, "Banner Image")" class="mobile" />
            }
        </div>
    }
</section>