﻿@using McCain.Corporate.Umbraco

@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    var title = Model.MacroParameters["Title"].ToString();
    var subtitle = Model.MacroParameters["Subtitle"].ToString();
    var content = Model.MacroParameters["Text"].ToString();
    var imageId = Model.MacroParameters["Image"].ToString();
    var link = Model.MacroParameters["Link"].ToString();

    var theme = Model.MacroParameters["Theme"].ToString();
    bool isWhiteBox = !string.IsNullOrEmpty(theme) && theme.ToLower() == "white";
    var cssTheme = isWhiteBox ? "white" : "yellow";
}

<a class="box-with-image @cssTheme" href="@link">
    <div class="white-wrapper">
        <div class="box-content">
            <div class="title">@Html.Raw(HttpUtility.HtmlDecode(title))</div>
            <div class="subtitle">@Html.Raw(HttpUtility.HtmlDecode(subtitle))</div>
            <div class="text">@Html.Raw(HttpUtility.HtmlDecode(content))</div>
        </div>

        @if (!String.IsNullOrEmpty(imageId))
        {
            var image = Umbraco.Media(imageId);

            <div class="box-image">
                <img src="@image.Url" alt="@BusinessContext.GetImageAltTextOrDefault(image, "Box Image")" />
            </div>

            <div class="arrow"></div>
        }

    </div>
</a>
