﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using McCain.Corporate.Umbraco


<div class="cta-with-description-widget grey-border">
    @{ Html.RenderPartial("~/Views/Partials/_GenericButton.cshtml", MacroHelper.GetGenericButtonSettings(Model, "ButtonSettings")); }
    <div class="text">@Html.Raw(HttpUtility.HtmlDecode(Model.MacroParameters["Text"].ToString()))</div>
</div>