﻿@using McCain.Corporate.Umbraco

@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{
    var theme = Model.MacroParameters["Theme"].ToString();
    var imageId = Model.MacroParameters["Image"].ToString();
    var addonImageId = Model.MacroParameters["AddonImage"].ToString();
    var text = Model.MacroParameters["Text"].ToString();
}

<div class="panel-item @theme">
    <div class="panel-item-content">
        @if (!String.IsNullOrEmpty(imageId))
        {
            <div class="panel-image-holder">
                <img src="@Umbraco.Media(imageId).Url" alt="Image" />
                @if (!String.IsNullOrEmpty(addonImageId))
                {
                    var image = Umbraco.Media(addonImageId);

                    <img class="panel-image-addon" src="@image.Url" alt="@BusinessContext.GetImageAltTextOrDefault(image, "Box Image")" />
                }
            </div>
        }
        <div class="panel-text-holder">@Html.Raw(HttpUtility.HtmlDecode(text))</div>
    </div>
</div>
