﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using McCain.Corporate.Umbraco

@{
    var featuredJob = BusinessContext.GetFeaturedJobFromCache();
}

@if (featuredJob != null)
{
    <div class="sub-title-holder">
        <div class="sub-title">@featuredJob.Title</div>
        <a href="@featuredJob.CountryFilterLink" class="location" target="_blank">@featuredJob.City, @featuredJob.State</a>
    </div>
    <div class="description">@Html.Raw(Umbraco.TruncateByWords(featuredJob.Description, 30))</div>
    <div class="apply-holder">
        @{
            var buttonSettings = new GenericButtonSettings() { title = "Apply now", cssClass = "yellow", url = featuredJob.DetailLink, openLinkInNewWindow = true };
            Html.RenderPartial("~/Views/Partials/_GenericButton.cshtml", buttonSettings);
        }
   
        <div class="link-holder">
            <div class="more">more</div>
                <a href="@featuredJob.CountryFilterLink" target="_blank">@featuredJob.Country jobs</a>
                <a href="@featuredJob.FunctionFilterLink" target="_blank">@featuredJob.Function jobs</a>
        </div>
</div>
}