﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage

<section class="widget news">
	<div class="main-title">Latest News</div>
	<div class="news-holder">
		@Html.Action("RenderLatestNews", "News", new { itemsCount = 3 } )
	</div>
	<div class="button-holder yellow rounded"><a href="/information-centre/news" class="button" role=button>Information Centre</a></div>
</section>