﻿@using McCain.Corporate.Umbraco

@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{ 
    var imageId = Model.MacroParameters["Image"].ToString();
    var title = Model.MacroParameters["Title"].ToString();
    var content = Model.MacroParameters["Text"].ToString();


}

<div class="our-products-item">
    @if (!String.IsNullOrEmpty(imageId))
    {
        var image = Umbraco.Media(imageId);

        <div class="image-holder"><img src="@image.Url" alt="@BusinessContext.GetImageAltTextOrDefault(image, title)"></div>
    }

    
    <div class="content-holder">
        @if (!String.IsNullOrEmpty(title))
        {
            <div class="title">@Html.Raw(HttpUtility.HtmlDecode(title))</div>
        }
        <div class="text">@Html.Raw(HttpUtility.HtmlDecode(content))</div>
    </div>
</div>