﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{ 
    var label = Model.MacroParameters["Label"].ToString();
    var title = Model.MacroParameters["Title"].ToString();
}

<div class="article-generic-title  @{ if (String.IsNullOrEmpty(title)) { <text>label-only</text> } }">
    @if (!String.IsNullOrEmpty(label))
    {
        <div class="section-title">
            @Html.Raw(HttpUtility.HtmlDecode(label))
        </div>
    }
    @if (!String.IsNullOrEmpty(title))
    {
        <div class="main-title center">
            @Html.Raw(HttpUtility.HtmlDecode(title))
        </div>
    }
</div>