﻿@using McCain.Corporate.Umbraco;
@using McCain.Corporate.Umbraco.Models;
@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{ 
    var title = Model.MacroParameters["Title"].ToString();
    if (String.IsNullOrEmpty(title))
    {
        title = "<span class='Festival'>We make <span> <span class='RobotoSlab'>McCain</span>";
    }

    var content = Model.MacroParameters["Content"].ToString();
    if (String.IsNullOrEmpty(content))
    {
        content = "<p>See how the people of McCain bring enjoyment to people’s lives through great tasting food.</p>";
    }

    var model = new CarouselModel()
    {
        Title = title,
        Content = content,
        IsLooped = false,
        CarouselEnabled = true,        
        CssClass = "home-carousel"
    };

    var storiesRoot = UmbracoContext.Current.ContentCache.GetByRoute("/careers/meet-our-people");

    var featuredStories = storiesRoot.Children.Where(i => i.DocumentTypeAlias == StoryPageDocumentType.ModelTypeAlias && i.GetPropertyValue<bool>("IsFeatured"));
    foreach (var item in featuredStories)
    {
        var imageId = item.GetPropertyValue<string>("image");

        if (!String.IsNullOrEmpty(imageId))
        {
            var image = Umbraco.Media(imageId);

            model.Items.Add(new CarouselItem()
            {
                Title = item.GetPropertyValue<string>("pageTitle"),
                Description = String.Empty,
                NavigationUrl = item.Url,
                PictureUrl = image.Url,
                AltText = BusinessContext.GetImageAltTextOrDefault(image, "Slide Image")
            });
        }
    }

    model.SlidesPerView = model.Items.Count() > 5 ? 5 : model.Items.Count();



    { Html.RenderPartial("~/Views/Partials/Common/_Carousel.cshtml", model); }
}