﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{
    var sectionTitle = Model.MacroParameters["Title"].ToString();
}

<div class="quote-wrapper">

    @if (!String.IsNullOrEmpty(sectionTitle))
    {
        <div class="section-title">@Html.Raw(HttpUtility.HtmlDecode(sectionTitle))</div>
    }

    <div class="quote-holder">
        <div class="quote">@Html.Raw(HttpUtility.HtmlDecode(Model.MacroParameters["QuoteText"].ToString()))</div>
        <div class="quote-date">@Html.Raw(HttpUtility.HtmlDecode(Model.MacroParameters["QuoteSignature"].ToString()))</div>
    </div>
</div>