﻿@using McCain.Corporate.Umbraco
@inherits Umbraco.Web.Macros.PartialViewMacroPage

<div class="job-search-holder">
    <div class="job-search-holder-inner">
        <div class="title">Search McCain Jobs</div>
        <div class="description">Find opportunities to join our global family</div>
        <div class="button-wraper"><div class="button-holder yellow"><a href="@BusinessContext.GetSearchJobsUrl()" target="_blank" class="button" role="button">Apply now</a></div></div>
    </div>
</div>