﻿@using McCain.Corporate.Umbraco
@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{ 
    var listsContent = Settings.GetListsContentNode();
    var simpleFactsItems = listsContent.GetPropertyValue<IEnumerable<IPublishedContent>>("simpleFactsList");

    var title = string.Empty;

    if (Model.MacroParameters.ContainsKey("Title"))
    {
        title = Model.MacroParameters["Title"].ToString();
    }
}

<section class="widget simple-facts">
        @if (!string.IsNullOrEmpty(title))
        {
		    <div class="title-holder">
			    <div class="title">
				    @Html.Raw(title)
			    </div>
		    </div>
        }
        <div class="simple-facts-fact-holder">
            @foreach (var item in simpleFactsItems)
            {
                var imageId = item.GetPropertyValue<string>("image");
                var itemTitle = HttpUtility.HtmlDecode(item.GetPropertyValue<string>("title"));

                <div class="fact-item">
                    <div class="title">@Html.Raw(itemTitle)</div>
                    @if (!String.IsNullOrEmpty(imageId))
                    {
                        var image = Umbraco.Media(imageId);
                        <div class="image"><img src="@image.Url" alt="Potato with @title value on it"></div>
                    }
                    <div class="subtitle">@Html.Raw(HttpUtility.HtmlDecode(item.GetPropertyValue<string>("subTitle")))</div>
                </div>
            }
		</div>
        
        @{ Html.RenderPartial("~/Views/Partials/_GenericButton.cshtml", MacroHelper.GetGenericButtonSettings(Model, "ButtonSettings")); }

</section>