﻿@using McCain.Corporate.Umbraco

@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    var subTitle = Model.MacroParameters["SubTitle"].ToString();
    var content = Model.MacroParameters["Text"].ToString();
}


<div class="article-item article-simple-text">
    @if (!String.IsNullOrEmpty(subTitle))
    {
        <div class="title">@Html.Raw(HttpUtility.HtmlDecode(Model.MacroParameters["SubTitle"].ToString()))</div>
    }
    @if (!String.IsNullOrEmpty(content))
    {
        <div class="text">@Html.Raw(HttpUtility.HtmlDecode(Model.MacroParameters["Text"].ToString()))</div>
    }

    @{ Html.RenderPartial("~/Views/Partials/_GenericButton.cshtml", MacroHelper.GetGenericButtonSettings(Model, "ButtonSettings")); }


</div>