﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{ 
    var title = Model.MacroParameters["Title"].ToString();
    var content = Model.MacroParameters["Text"].ToString();
    var sideTitle = Model.MacroParameters["SideTitle"].ToString();
    var sideContent = Model.MacroParameters["SideContent"].ToString();
}

<div class="text-and-side-content">
    <div class="main-content">
        <div class="title">@title</div>
        <div class="description">@Html.Raw(HttpUtility.HtmlDecode(content))</div>
    </div>
    <div class="side-content">
        <div class="title">@sideTitle</div>
        @Html.Raw(HttpUtility.HtmlDecode(sideContent))
    </div>
</div>
