﻿@using McCain.Corporate.Umbraco

@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{
    var imageId = Model.MacroParameters["Image"].ToString();
    var videoURL = Model.MacroParameters["VideoURL"].ToString();
    var title = Model.MacroParameters["Title"].ToString();
    var text = Model.MacroParameters["Text"].ToString();
    var cssClass = Model.MacroParameters["CssClass"].ToString();
    var button = MacroHelper.GetGenericButtonSettings(Model, "ButtonSettings");
    bool hasButton = (button != null && !String.IsNullOrEmpty(button.title));
}

<div class="article-with-image @{ if (hasButton) { <text>has-button</text> } } @cssClass">
    @if (!String.IsNullOrWhiteSpace(videoURL))
    {
        { Html.RenderPartial("~/Views/Partials/Common/_EmbedVideo.cshtml", new ViewDataDictionary() { { "videoURL", videoURL } }); }
    }
    else if (!String.IsNullOrEmpty(imageId))
    {
        var image = Umbraco.Media(imageId);

        <div class="image">	<img src="@image.Url" alt="@BusinessContext.GetImageAltTextOrDefault(image, title)" /></div>
    }
    <div class="content">
        <div class="title">@Html.Raw(HttpUtility.HtmlDecode(title))</div>
        @if (!String.IsNullOrWhiteSpace(text))
        {
            <div class="text">@Html.Raw(HttpUtility.HtmlDecode(text))</div>
        }

        @{ Html.RenderPartial("~/Views/Partials/_GenericButton.cshtml", button); }

    </div>
</div>