﻿@using McCain.Corporate.Umbraco

@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    var subTitle = Model.MacroParameters["SubTitle"].ToString();
    var content = Model.MacroParameters["Text"].ToString();
    var imageId = Model.MacroParameters["Image"].ToString();
}


<div class="article article-text-on-image">
    <div class="article-content">
        @if (!String.IsNullOrEmpty(subTitle))
        {
            <div class="title">@Html.Raw(HttpUtility.HtmlDecode(Model.MacroParameters["SubTitle"].ToString()))</div>
        }
        @if (!String.IsNullOrEmpty(content))
        {
            <div class="text">@Html.Raw(HttpUtility.HtmlDecode(Model.MacroParameters["Text"].ToString()))</div>
        }

        @{ Html.RenderPartial("~/Views/Partials/_GenericButton.cshtml", MacroHelper.GetGenericButtonSettings(Model, "ButtonSettings")); }
    </div>
    @if (!String.IsNullOrEmpty(imageId))
    {
        var image = Umbraco.Media(imageId);
        
        <div class="article-image">
            <img src="@image.Url" alt="@BusinessContext.GetImageAltTextOrDefault(image, subTitle)" />
        </div>
        
    }
</div>
