﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using McCain.Corporate.Umbraco
@using Cogworks.Meganav.Models

@{
    var categoryName = Model.MacroParameters["Category"].ToString();
    MeganavItem categoryItem = null;

    if (!String.IsNullOrEmpty(categoryName))
    {
        var navigationSettingsNode = new NavigationSettings(NavigationUtils.GetNavigationSettingsNode());
        IEnumerable<MeganavItem> worldwideLinks = null;

        if (navigationSettingsNode != null)
        {
            worldwideLinks = navigationSettingsNode.WorldWideLinks;
        }

        if (worldwideLinks != null)
        {
            categoryItem = worldwideLinks.Where(x => x.Title.ToLower() == categoryName.ToLower()).FirstOrDefault();
        }
    }
}

@if (categoryItem != null)
{
    <div class="macro">
        <div class="worldwide-category-holder">
            @RenderLinksHolders(categoryItem.Children)
        </div>
    </div>
}




@helper RenderLinks(IEnumerable<MeganavItem> linksList)
{
if (linksList != null)
{
    foreach (var link in linksList)
    {
        if (link.Url == "#") {
            if (!String.IsNullOrWhiteSpace(link.Title))
            {
                <div class="title">@link.Title</div>
            }
            else
            {
                 <div class="title title-empty"></div>
            }
        }
        else {
            <a href="@link.Url" target="@link.Target">@link.Title</a>
        }
    }
}
}

@helper RenderLinksHolders(IEnumerable<MeganavItem> linksHolderList)
{
if (linksHolderList != null && linksHolderList.Count() > 0)
{
    if (linksHolderList.First().Children != null && linksHolderList.First().Children.Count() > 0) 
    {
        // depth is 2
        foreach (var linksHolder in linksHolderList)
        {
            if (linksHolder.Children.Count() > 8)
            {
                var splittedLists = linksHolder.Children.Split(8);
                
                for (var i=0; i < splittedLists.Count(); i++)
                {
                    <div class="worldwide-links-holder">
                        @if (i == 0)
                        {
                            <div class="title">
                                @linksHolder.Title
                            </div>
                        }
                        else
                        {
                            <div class="title title-empty">
                                <text>&nbsp;</text>
                            </div>
                        }
                        @RenderLinks(splittedLists.ElementAt(i))
                    </div>
                }
                
            } else {

                <div class="worldwide-links-holder">
                    <div class="title">@linksHolder.Title</div>
                    @RenderLinks(linksHolder.Children)
                </div>
            }
        }

    }
    else
    {
        // depth is 1
        if (linksHolderList.Count() > 8) {

            var splittedLists = linksHolderList.Split(8);

            foreach (var splitted in splittedLists)
            {
                <div class="worldwide-links-holder">
                    @RenderLinks(splitted)
                </div>
            }
        } else {
            <div class="worldwide-links-holder">
                @RenderLinks(linksHolderList)
            </div>
        }
    }
}
}