﻿@using McCain.Corporate.Umbraco

@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    var title = Model.MacroParameters["Title"].ToString();
    var content = Model.MacroParameters["Text"].ToString();
    var imageId = Model.MacroParameters["Image"].ToString();
}

<div class="yellow-box-with-photo">

    @if (!String.IsNullOrEmpty(imageId))
    {
        var image = Umbraco.Media(imageId);

        <div class="yellow-box-photo">
            <img src="@image.Url" alt="@BusinessContext.GetImageAltTextOrDefault(image, title)" />
        </div>
    }
    <div class="yellow-box-content">
        <div class="yellow-box-title">@Html.Raw(HttpUtility.HtmlDecode(title))</div>
        <div class="yellow-box-text">@Html.Raw(HttpUtility.HtmlDecode(content))</div>
       @{ Html.RenderPartial("~/Views/Partials/_GenericButton.cshtml", MacroHelper.GetGenericButtonSettings(Model, "Button")); }
    </div>
</div>