@model Umbraco.Forms.Mvc.Models.FieldViewModel
@using Umbraco.Forms.Mvc


<div class="checkbox-holder">
    <label class="label-container">
        @if (!string.IsNullOrEmpty(Model.ToolTip))
        {
            <label for="@Model.Id" class="umbraco-forms-tooltip help-block">@Html.Raw(Model.ToolTip)</label>
        }
        <input type="checkbox" name="@Model.Name" id="@Model.Id"
               class="@Html.GetFormFieldClass(Model.FieldTypeName)"
               @if (Model.Mandatory) { <text> data-val="true" data-val-requiredcb="@Model.RequiredErrorMessage" </text> }
               @if (Model.ContainsValue(true) || Model.ContainsValue("true") || Model.ContainsValue("on")) { <text> checked="checked" </text> } />
        <span class="checkmark"></span>
    </label>
</div>