﻿<div ng-controller="tea.icon-select-list.controller">
    <ul class="list-unstyled select-icon-list" ng-class="{'displaySelectInversed': model.defaultConfig.displaySelectInversed}">
        <li ng-repeat="item in items" ng-click="select(item)" ng-class="{'selected': item.selected}">
            <i class="{{item.icon}}" ng-show="item.icon"></i>
            <span ng-show="item.text">{{item.text}}</span>
            <span ng-show="item.tip" class="tip">({{item.tip}})</span>
        </li>
    </ul>
</div>