﻿.select-icon-list {
    font-size: 14px;
    list-style: none;
    padding: 0;
    margin: 0;
}

    .select-icon-list * {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .select-icon-list li {
        cursor: pointer;
        margin-bottom: 2px;
        color: #a1a1a1;
    }

        .select-icon-list li span.tip {
            font-size: 11px;
            margin-left: 5px;
        }

        .select-icon-list li.selected {
            color: #343434;
        }

    .select-icon-list:not(.displaySelectInversed) li.selected span {
        text-decoration: underline;
    }

    .select-icon-list li.selected span.tip {
        text-decoration: none;
    }

    .select-icon-list.displaySelectInversed li {
        color: #343434;
    }

        .select-icon-list.displaySelectInversed li.selected {
            text-decoration: line-through;
            color: #a1a1a1;
        }
