﻿<div ng-controller="Macro.InnovationThemePickerMacro">

    <div class="radio" ng-repeat="theme in themes" id="selectstatus-{{theme.Name}}">
        <label style="display: inline; margin-left: 10px">
            <input type="radio" name="position" ng-change="handleRadioClick()"
                   ng-model="model.value" value="{{theme.Name}}">{{theme.Name}}
        </label>
    </div>
</div>