﻿<div ng-controller="Macro.ImageCssPickerMacro">
    <select ng-init="selectedItem = selected" ng-options="t.name for t in cssClasses" ng-model="selectedItem" ng-change="onClassChange()"></select>
</div>
