
<section class="widget carousel">
<div class="carousel-title-holder">
			<div class="title">
				Functions at McCain
			</div>
		</div>
<div class="slider promotion-functions">
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="slide-content">
							<div class="image-holder">
								<div class="image-title">MY M<sup>c</sup>CAIN</div>
								<img class="bg-image" src="images/image-more-stories.jpg" alt="Image">
							</div>
							<div class="content-holder">
								<div class="title">Bird's-Eye view provides data that delivers increased yield</div>
								<div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</div>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="slide-content">
							<div class="image-holder">
								<div class="image-title">MY M<sup>c</sup>CAIN</div>
								<img class="bg-image" src="images/image-more-stories.jpg" alt="Image">
							</div>
							<div class="content-holder">
								<div class="title">Bird's-Eye view provides data that delivers increased yield</div>
								<div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</div>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="slide-content">
							<div class="image-holder">
								<div class="image-title">MY M<sup>c</sup>CAIN</div>
								<img class="bg-image" src="images/image-more-stories.jpg" alt="Image">
							</div>
							<div class="content-holder">
								<div class="title">Bird's-Eye view provides data that delivers increased yield</div>
								<div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</div>
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-scrollbar"></div>
			</div>
			
			<!-- Swiper JS -->
			<script src="js/swiper.min.js"></script>
			<!-- Initialize Swiper -->
			<script>
				var swiper = new Swiper('.swiper-container', {
					slidesPerView: 3,
					spaceBetween: 30,
					loop: true,
					grabCursor: true,
					scrollbar: {
						el: '.swiper-scrollbar',
						hide: true,
					},
					breakpoints: {
						1024: {
							slidesPerView: 4,
							spaceBetween: 40,
						},
						768: {
							slidesPerView: 3,
							spaceBetween: 30,
						},
						640: {
							slidesPerView: 2,
							spaceBetween: 20,
						},
						320: {
							slidesPerView: 1,
							spaceBetween: 10,
						}
					}
				});
			</script>
</div>
</section>