﻿@using McCain.Corporate.Umbraco.Models
@using McCain.Corporate.Umbraco
@model CarouselModel

@{
    var hasTitle = !String.IsNullOrWhiteSpace(Model.Title);
    var hasDescription = !String.IsNullOrWhiteSpace(Model.Content);
}
@if (Model.Items.Any())
{
	var hasPromotions = Model.Items.Any(i => !String.IsNullOrEmpty(i.PromotionTitle));
	var cssClass = Model.CssClass;
	if (hasPromotions)
	{
		cssClass = cssClass + " has-promotions";
	}
	
    <section class="widget carousel">
        @if (hasTitle || hasDescription)
        {
            <div class="carousel-title-holder">
                @if (hasTitle)
                {
                    <div class="title">
                        @Html.Raw(HttpUtility.HtmlDecode(Model.Title))
                    </div>
                }
                @if (hasDescription)
                {
                    <div class="text">@Html.Raw(Model.Content)</div>
                }
            </div>
        }
        <div class="slider slides-per-view-@Model.SlidesPerView @cssClass">
            <div class="swiper-container" data-key="@Model.CssClass" data-slider-enabled="@Model.CarouselEnabled.ToString().ToLower()" data-slides-per-view="@Model.SlidesPerView" data-is-looped="@Model.IsLooped.ToString().ToLower()">
                <div class="swiper-wrapper" role="tablist">
                    @foreach (var item in Model.Items)
                    {
                        <div class="swiper-slide">
                            @if (!String.IsNullOrWhiteSpace(item.NavigationUrl) && item.NavigationUrl != "#")
                            {
                                @:<a href="@item.NavigationUrl" @{if (item.OpenInNewTab) { <text> target="_blank" </text> }} role="tab">
                            }

                            <div class="slide-content">
                                @if (!String.IsNullOrEmpty(item.VideoUrl))
                                {
                                    @RenderVideo(item)
                                }
                                else if (!String.IsNullOrEmpty(item.PictureUrl))
                                {
                                    @RenderImage(item)
                                }
                                @if (!String.IsNullOrEmpty(item.Title))
                                {
                                    if (String.IsNullOrEmpty(item.Description.ToString()))
                                    {
                                        <div class="title">@Html.Raw(HttpUtility.HtmlDecode(item.Title))</div>
                                    }
                                    else
                                    {
                                        <div class="content-holder">
                                            <div class="title">@Html.Raw(HttpUtility.HtmlDecode(item.Title))</div>
                                            <div class="description">@Html.Raw(HttpUtility.HtmlDecode(item.Description))</div>
                                        </div>
                                    }
                                }
                            </div>
                            @if (!String.IsNullOrWhiteSpace(item.NavigationUrl) && item.NavigationUrl != "#")
                            {
                                @:</a>
                            }
                        </div>
                    }
                </div>
                <div class="swiper-scrollbar"></div>
                
            </div>
            <div class="swiper-button-next swiper-button-white"></div>
            <div class="swiper-button-prev swiper-button-white"></div>
        </div>
    </section>
}

@helper RenderVideo(CarouselItem item)
{
    if (!String.IsNullOrEmpty(item.PromotionTitle))
    {
        <div class="image-with-title-holder">
            <div class="image-title">@Html.Raw(HttpUtility.HtmlDecode(item.PromotionTitle))</div>
            @{ Html.RenderPartial("~/Views/Partials/Common/_EmbedVideo.cshtml", new ViewDataDictionary() { { "videoURL", item.VideoUrl } }); }
        </div>
    }
    else
    {
        <div>
            @{ Html.RenderPartial("~/Views/Partials/Common/_EmbedVideo.cshtml", new ViewDataDictionary() { { "videoURL", item.VideoUrl } }); }
        </div>
    }


}
@helper RenderImage(CarouselItem item)
{

    if (!String.IsNullOrEmpty(item.PromotionTitle))
    {
        <div class="image-holder image-with-title-holder">
            <div class="image-title">@Html.Raw(HttpUtility.HtmlDecode(item.PromotionTitle))</div>
            <img class="bg-image" src="@item.PictureUrl" alt="@Html.Raw(HttpUtility.HtmlDecode(item.AltText))" role="tabpanel">
        </div>
    }
    else
    {
        <div class="image-holder">
            <img class="bg-image" src="@item.PictureUrl" alt="@Html.Raw(HttpUtility.HtmlDecode(item.AltText))" role="tabpanel">
        </div>
    }


}