﻿@using McCain.Corporate.Umbraco.Models
@using McCain.Corporate.Umbraco
@using System.Text.RegularExpressions
@using McCain.Corporate.Umbraco


@if (ViewData != null)
{
    var originalVideoURL = ViewData["videoURL"].ToString();


    if (VideoUtils.IsFileYoutubeVideo(originalVideoURL))
    {
        <div class="video-wrapper youtube-wrapper">
            <div class="video-holder">
                <iframe width="560" height="315" src="@BusinessContext.GetYoutubeEmbedUrl(originalVideoURL)" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
            </div>
        </div>
    }
    else if (VideoUtils.IsFileVimeoVideo(originalVideoURL))
    {
        var vimeoId = VideoUtils.GetVideoId(originalVideoURL);

        var embedUrl = string.Format("https://player.vimeo.com/video/{0}?background=1&autoplay=1&loop=1&byline=0&sidedock=0&title=0&muted=1", vimeoId);

        <div class="video-wrapper vimeo-wrapper">
            <div class="video-holder">
                <iframe width="560" height="315" src="@embedUrl" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
            </div>
        </div>
    }
}
