﻿@using McCain.Corporate.Umbraco.Models
@using McCain.Corporate.Umbraco

@model ImagesGridModel

<section class="leadership-team @Model.Theme @Model.CustomCss">

    @if (!String.IsNullOrEmpty(Model.Title))
    {
        <div class="main-title">@Model.Title</div>
    }
    <div class="team-holder">
        @foreach (var item in Model.Items)
        {
            if (!String.IsNullOrEmpty(item.PictureUrl))
            {
                <a class="team-item items-per-row-@Model.ItemsPerRow @{if (String.IsNullOrEmpty(item.NavigationUrl)) { <text>no-href</text> } }" 
                   @{if (!String.IsNullOrEmpty(item.NavigationUrl)) { <text>href="@item.NavigationUrl"</text> } }  
                   @{if (item.OpenLinkInNewWindow) { <text>target="_blank"</text> } }>
                    <div class="image-holder"><img src="@item.PictureUrl" alt="@item.AltText"></div>
                    
                    @if (!String.IsNullOrEmpty(item.Title))
                    { <div class="name">@Html.Raw(HttpUtility.HtmlDecode(item.Title))</div> }

                    @if (!String.IsNullOrEmpty(item.SubTitle))
                    { <div class="job-title">@Html.Raw(HttpUtility.HtmlDecode(item.SubTitle))</div> }

                    @if (!String.IsNullOrEmpty(item.Description))
                    { <div class="location">@Html.Raw(HttpUtility.HtmlDecode(item.Description))</div> }
                </a>
            }
        }
    </div>
</section>