﻿@using McCain.Corporate.Umbraco.Models
@using McCain.Corporate.Umbraco

@model PagingModel

@{
    string url = Request.Url.ToString();
    var pageSize = Model.PageSize;
    if (pageSize == 0)
    {
        pageSize = 10;
    }

    var page = Model.PageIndex;

    var totalPages = (int)Math.Ceiling((double)Model.ItemsCount / (double)pageSize);

    if (page > totalPages)
    {
        page = totalPages;
    }
    else if (page < 1)
    {
        page = 1;
    }

    if (totalPages > 1)
    {
        <div class="page-counter">
          <div class="navigation">
    @if (page > 1)
                {
                    url = url.ReplaceQueryStringValue("page", (page - 1).ToString());
        <div class="arrow left"><a href="@url">&nbsp;</a></div>
    }
    @for (int p = 1; p < totalPages + 1; p++)
                {
        <div class="@(p == page ? "active" : string.Empty)">
            @if (p == page)
            {
                <text>@p</text>
            }
            else
            {
                url = url.ReplaceQueryStringValue("page", p.ToString());
                <a href="@url">@p</a>
            }
        </div>
    }
    @if (page < totalPages)
                {
                    url = url.ReplaceQueryStringValue("page", (page + 1).ToString());
        <div class="arrow right"><a href="@url">&nbsp;</a></div>
    }
    </div>
    </div>
    }
}
