﻿<div class="share-title">IT'S GOOD TO SHARE</div>
<div class="share-icons">
    <div class="icon"><a href="#" class="facebook"></a></div>
    <div class="icon"><a href="#" class="twitter"></a></div>
    <div class="icon"><a href="#" class="linkedin"></a></div>
</div>
