﻿<div ng-controller="Macro.BoxThemePickerMacro">
    <select ng-init="selectedItem = selected"  ng-options="t.name for t in themeOptions" ng-model="selectedItem" ng-change="onThemeChange()"></select>
</div>
