﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<GenericDocumentType>
@using McCain.Corporate.Umbraco
@{
    Layout = "Master.cshtml";
}

<section class="page-content">
    @Html.GetGridHtml(Model, "pageContent")
</section>


@{ Html.RenderPartial("~/Views/Partials/Content/_FeaturedJobs.cshtml"); }
