﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<GenericDocumentType>
@{
    Layout = "Master.cshtml";
}
<section class="page-content">
    @Html.GetGridHtml(Model, "pageContent")
</section>


<section class="page-form">
    @Umbraco.RenderMacro("renderUmbracoForm", new { FormGuid = "5992d0d6-4dbe-4ddd-b12b-a17635024e5c", FormTheme = "mccain-generic", ExcludeScripts = "0" })
</section>