﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<PrivacyPageDocumentType>
@{
    Layout = "Master.cshtml";
}


@section Banner {
    @Html.Partial("_PageBanner",
        Model,
        new ViewDataDictionary()
        {
            { "defaultCssClass", "article-banner white-bg black-theme" },
            { "additionalCssClass", "" }
        })
}

<section class="language-selector-wrapper">
    <div class="container text-right">
        <select id="language-selector">
            <option value="en" selected="selected">English</option>
            <option value="fr">French</option>
        </select>
    </div>
</section>

<section class="page-content">
    @Html.GetGridHtml(Model, "pageContent")
</section>


@section AdditionalPageScripts {
    <script src="~/scripts/privacy.js"></script>
}




