﻿@using McCain.Corporate.Umbraco
@using McCain.Corporate.Umbraco.Models

@inherits Umbraco.Web.Mvc.UmbracoViewPage<FunctionsLandingPageDocumentType>
@{
    Layout = "Master.cshtml";
}

@{
    // function pages
    var functions = Model.Children.Where(i => i.DocumentTypeAlias == FunctionPageDocumentType.ModelTypeAlias);

    ImagesGridModel personsModel = null;
    if (functions != null && functions.Any())
    {
        personsModel = new ImagesGridModel()
        {
            ItemsPerRow = 4
        };

        foreach (var item in functions)
        {
            var imageId = item.GetPropertyValue<string>("rollupImage");
            var image = Umbraco.Media(imageId);

            personsModel.Items.Add(
                new ImagesGridItem()
                {
                    Title = item.GetPropertyValue<string>("pageTitle"),
                    PictureUrl = image.Url,
                    AltText = BusinessContext.GetImageAltTextOrDefault(image, "Box Image"),
                    NavigationUrl = item.Url
                });
        }
    }
}

<section class="page-content">
    @Html.GetGridHtml(Model, "pageContent")

    @*if (personsModel != null)
    {
        <div class="grey-bg padding-top-row">
            <div class="container functions">
                <div class="row clearfix">
                    <div class="col-md-12 column">
                        @{ Html.RenderPartial("~/Views/Partials/Common/_ImagesGrid.cshtml", personsModel); }
                    </div>
                </div>
            </div>
        </div>
     }*@

</section>
