﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = "Master.cshtml";
}

<!-- this page layout is used for Site Maintenance page, disable Google Analytics for it-->
@section AdditionalPageHead {
    <script>
        window['ga-disable-UA-4080888-3'] = true;
    </script>
}


@section Header {
}

@section Banner {

}

<section class="page-content">
    @Html.GetGridHtml(Model, "pageContent")
</section>

@section Footer {
}



