﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<HomeDocumentType>
@{
    Layout = "Master.cshtml";
}

@section Banner {
    <div class="main-banner">
        @Html.Partial("_PageBanner")
    </div>
}

<section class="page-content">
    @Html.GetGridHtml(Model, "pageContent")
</section>


@{ Html.RenderPartial("~/Views/Partials/Content/_WouldLikeToKnow.cshtml", null); }