﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<GenericDocumentType>
@{
    Layout = "Master.cshtml";
}


<section class="page-content">
    @Html.GetGridHtml(Model, "pageContent")
</section>


