﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<PrivacyPageDocumentType>
@{
    Layout = "Master.cshtml";
}

@section Banner {
    @Html.Partial("_PageBanner",
        Model,
        new ViewDataDictionary()
        {
            { "defaultCssClass", "article-banner white-bg black-theme" },
            { "additionalCssClass", "" }
        })
}

<section class="language-selector-wrapper">
    <div class="container text-right">
        <select id="language-selector">
            <option value="ar">Arabic</option>
            <option value="bs">Bosnian</option>
            <option value="bg">Bulgarian</option>
            <option value="cz">Czech</option>
            <option value="zh-si">Chinese</option>
            <option value="hr">Croatian</option>
            <option value="de">German</option>
            <option value="da">Dannish</option>
            <option value="nl">Dutch</option>
            <option value="en" selected="selected">English</option>
            <option value="fr-ca">French - Canada</option>
            <option value="fr">French - France</option>
            <option value="fi">Finnish</option>
            <option value="el">Greek</option>
            <option value="gu">Gujarati</option>
            <option value="hu">Hungarian</option>
            <option value="it">Italian</option>
            <option value="jp">Japanese</option>
            <option value="pl">Polish</option>
            <option value="pn">Punjabi</option>
            <option value="pt-br">Portuguese - Brazil</option>
            <option value="pt">Portuguese - Portugal</option>
            <option value="ro">Romanian</option>
            <option value="sr">Serbian</option>
            <option value="sk">Slovak</option>
            <option value="sl-si">Slovenian</option>
            <option value="es">Spanish - Spain</option>
            <option value="es-la">Spanish - Latin</option>
            <option value="sw">Swedish</option>
        </select>
    </div>
</section>

<section class="page-content">
    @Html.GetGridHtml(Model, "pageContent")
</section>

@section AdditionalPageScripts {
    <script src="~/scripts/privacy.js"></script>
}




