﻿@using McCain.Corporate.Umbraco
@using ClientDependency.Core.Mvc

@inherits Umbraco.Web.Mvc.UmbracoViewPage<BasicDocumentType>
@{
    Layout = null;
}

<!doctype html>
<html dir="ltr" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/manifest.txt">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/favicon/ms-icon-144x144.png">

    @Html.CachedPartial("_SeoTags", null, 3600, true) @* cached by page for an hour *@

    <meta name="author" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <script src="~/scripts/gdpr/cookie-message.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,800&amp;subset=cyrillic-ext,latin-ext" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    @{Html.RequiresCss("/scripts/bootstrap/bootstrap.min.css");}
    @{Html.RequiresCss("/css/default.css"); }
    @{Html.RequiresCss("/css/style.css"); }
    @{Html.RequiresCss("/css/swiper-bundle.min.css"); }
    @Html.Raw(Html.RenderCssHere())

    @RenderSection("AdditionalPageHead", false)


    @Html.Raw(BusinessContext.GetHeaderScripts())

</head>
<body data-responsejs='{"create": [ { "breakpoints": [0, 601], "mode": "src", "prefix": "src" } ]}'>    

    <script src="~/scripts/jquery-2.2.4.min.js"></script>
    <script src="~/scripts/jquery.validate.min.js"></script>
    <script src="~/scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/scripts/jquery.matchHeight.js"></script>
    <script src="~/scripts/response.min.js"></script>

    @Html.Raw(BusinessContext.GetBodyScripts())

    @RenderSection("Header", false)
    @if (!IsSectionDefined("Header"))
    {
        @Html.Partial("_Header")
    }

<div class="@BusinessContext.GetWrapperCssClass(Model.DocumentTypeAlias)">
    @RenderSection("Banner", false)
    @if (!IsSectionDefined("Banner"))
    {
        @Html.Partial("_PageBanner")
    }

    @RenderBody()


    @RenderSection("RelatedContent", false)
    @if (!IsSectionDefined("RelatedContent"))
    {
        @Html.Partial("_RelatedContent")
    }

</div>



    @RenderSection("Footer", false)
    @if (!IsSectionDefined("Footer"))
    {
        @Html.Partial("_Footer")
    }


    
    @{Html.RequiresJs("~/scripts/modernizr-2.6.2.js"); }
    @{Html.RequiresJs("~/scripts/bootstrap/bootstrap.min.js"); }
    @{Html.RequiresJs("~/scripts/swiper/swiper-bundle.min.js"); }
    @{Html.RequiresJs("~/scripts/global.js"); }
    @{Html.RequiresJs("~/scripts/social-sharing.js"); }
    @Html.Raw(Html.RenderJsHere())

    @RenderSection("AdditionalPageScripts", false)

    @Html.Raw(Model.AdditionalFooterScripts)

    @Html.Raw(BusinessContext.GetFooterScripts())



</body>
</html>
