﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<NewsLandingDocumentType>
@{
    Layout = "Master.cshtml";
}

@{
    var hasAlerts = Model.AlertNews != null && Model.AlertNews.Count() > 0;
}

@* the fun starts here *@

@section Banner {
    @if (hasAlerts)
    {
        @:<div class="no-border">
    }
    
    @Html.Partial("_PageBanner")
    
    @if (hasAlerts)
    {
        @:</div>
    }
}

@if (hasAlerts)
{
    <section class="alert-section">
        <div class="alert-section-holder">
            <div class="alert-title">Alert</div>
            <div class="alert-messages">
                @foreach (var alertNewsItem in Model.AlertNews)
                {
                    <a href="@alertNewsItem.Url" class="alert-message">
                        @alertNewsItem.Name
                    </a>
                }
            </div>
        </div>
    </section>
}

<section class="page-content">
    @Html.GetGridHtml(Model, "pageContent")
</section>

<section class="news-search">
    <div class="news-search-holder">
        <div class="search-holder">
            <form action="/information-centre/news/" method="GET">
                <input id="search-news" class="search" type="text" placeholder="Search McCain News" title="Search McCain News" name="s" value="@Request.Params["s"]">
                <div class="search-button"></div>
            </form>

        </div>
        <div class="search-link">
            @Html.Raw(Model.SearchIntroduction)
        </div>
    </div>
</section>

@{ Html.RenderAction("RenderNews", "News"); }
