﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<NewsArticleDocumentType>
@using McCain.Corporate.Umbraco
@using McCain.Corporate.Umbraco.Models
@{
    Layout = "Master.cshtml";

    var backgroundCss = Model.HeaderBackgroundColor != null && !String.IsNullOrEmpty(Model.HeaderBackgroundColor.ToString()) ?
        Model.HeaderBackgroundColor.ToString() + "-bg" :
        "yellow-bg";
}

@section Banner {
<section class="page-banner article-banner news-article-banner @backgroundCss black-theme">
    <div class="page-banner-content black-text">
        <h1 class="main-title">@Model.PageTitle</h1>
        <div class="overview"></div>

        @{
            <div class="quote-date">@Model.ArticleDate.ToString("dd MMMM yyyy")</div>
        }
    </div>
</section>
    }

<section class="video-with-article">
    <div class="content">
        @Html.GetGridHtml(Model, "pageContent")
    </div>

    @if (Model.AllowSocialSharing)
    {
        <div class="article-share-holder">
            @{ Html.RenderPartial("~/Views/Partials/Common/_Share.cshtml", null); }
        </div>
                }
</section>
