﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<PrivacyPageDocumentType>
@{
    Layout = "Master.cshtml";
}


@section Banner {
    @Html.Partial("_PageBanner",
        Model,
        new ViewDataDictionary()
        {
            { "defaultCssClass", "article-banner white-bg black-theme" },
            { "additionalCssClass", "" }
        })
}

@{
    var possibleLanguages = new Dictionary<string, string>()
{
        { "ar", "Arabic" },
        { "bs", "Bosnian" },
        { "bg", "Bulgarian" },
        { "cz", "Czech" },
        { "zh-si", "Chinese" },
        { "hr", "Croatian" },
        { "da", "Danish" },
        { "nl", "Dutch" },
        { "en", "English" },
        { "fi", "Finnish" },
        { "fr-ca", "French - Canada" },
        { "fr", "French - France" },
        { "de", "German" },
        { "el", "Greek" },
        { "gu", "Gujarati" },
        { "hu", "Hungarian" },
        { "it", "Italian" },
        { "jp", "Japanese" },
        { "pl", "Polish" },
        { "pn", "Punjabi" },
        { "pt-br", "Portuguese - Brazil" },
        { "pt", "Portuguese - Portugal" },
        { "ro", "Romanian" },
        { "sr", "Serbian" },
        { "sk", "Slovak" },
        { "sl-si", "Slovenian" },
        { "es-la", "Spanish - Latin" },
        { "es", "Spanish - Spain" },
        { "sw", "Swedish" },
    };
}


@{
    var privacyRoot = Model;
    if (Model.Parent.IsDocumentType(PrivacyPageDocumentType.ModelTypeAlias))
    {
        privacyRoot = Model.Parent<PrivacyPageDocumentType>();
    }

    var children = privacyRoot.Children<PrivacyPageDocumentType>();

    var dropdownItems = new Dictionary<string, string>();

    // root is always English
    dropdownItems.Add("en", "English");
    foreach (var langPage in children)
    {
        if (possibleLanguages.ContainsKey(langPage.Name))
        {
            dropdownItems.Add(langPage.Name, possibleLanguages[langPage.Name]);
        }
    }

    // sort
    dropdownItems = dropdownItems.OrderBy(x => x.Value).ToDictionary(x => x.Key, x => x.Value);
}


@if (dropdownItems.Any())
{
    <section class="language-selector-wrapper">
        <div class="container text-right">
            <select id="language-selector">

                @foreach (var item in dropdownItems)
                {
                    <option value="@item.Key" @{if (item.Key == "en") { <text> selected</text> } }>@item.Value</option>
                }
            </select>
        </div>
    </section>
}


<section class="page-content">
    @Html.GetGridHtml(Model, "pageContent")
</section>


@section AdditionalPageScripts {
    <script src="~/scripts/privacy.js"></script>
}




