﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<SearchResultsDocumentType>
@using McCain.Corporate.Umbraco
@using McCain.Corporate.Umbraco.Models

@{
    Layout = "Master.cshtml";
}

@{ 
    var searchModel = SearchHelper.Search();
}

@section Banner {
<section class="page-banner article-banner yellow-bg black-theme">
    <div class="page-banner-content black-text">
        <h1 class="main-title">@searchModel.PagingInfo.ItemsCount result(s) found for '@searchModel.SearchTerm'</h1>
    </div>
</section>
    }

<section class="news-search">
    <div class="news-search-holder">
        <div class="search-holder">
            <form action="/search-results" method="GET">
                <input id="search-news" class="search" type="text" placeholder="Search..." name="s" value="@Request.Params["s"]">
                <div class="search-button"></div>
            </form>
        </div>
    </div>
</section>

<section class="page-content">
    @Html.GetGridHtml(Model, "pageContent")
</section>


@{ Html.RenderPartial("~/Views/Partials/Content/_SearchResults.cshtml", searchModel); }
