﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<StoryPageDocumentType>
@{
    Layout = "Master.cshtml";
}
@{
    var hasImage = Model.HasValue("image");


}
@section Banner {
    <section class="page-banner article-banner yellow-bg black-theme">
        <div class="page-banner-content black-text">
            <h1 class="main-title">@Umbraco.Field("pageTitle")</h1>
            <div class="overview">@Umbraco.Field("jobTitle")</div>
            <div class="location">@Umbraco.Field("location")</div>
        </div>
    </section>
}
<section class="video-with-article">
    <div class="content-wrapper @{ if (hasImage) { <text>has-image</text> } }">
        @if (hasImage)
        {
            <div class="image">
                <img src="@Model.Image.Url" alt="@Model.PageTitle photo" />
            </div>
        }

        <div class="content">
            @Html.GetGridHtml(Model, "pageContent")
        </div>
        
    </div>
    @if (Model.AllowSocialSharing)
    {
        <div class="article-share-holder">
            @{ Html.RenderPartial("~/Views/Partials/Common/_Share.cshtml", null); }
        </div>
    }
</section>
