﻿@using McCain.Corporate.Umbraco
@using McCain.Corporate.Umbraco.Models

@inherits Umbraco.Web.Mvc.UmbracoViewPage<StoriesLandingPageDocumentType>
@{
    Layout = "Master.cshtml";
}

@{
    // stories with images
    var stories = Model.Children.Where(i => i.DocumentTypeAlias == StoryPageDocumentType.ModelTypeAlias && i.HasValue("image"));

    ImagesGridModel personsModel = null;
    if (stories != null && stories.Any())
    {
        personsModel = new ImagesGridModel()
        {
            ItemsPerRow = 4
        };

        foreach (var item in stories)
        {
            var imageId = item.GetPropertyValue<string>("image");
            var image = Umbraco.Media(imageId);

            personsModel.Items.Add(
                new ImagesGridItem()
                {
                    Title = item.GetPropertyValue<string>("pageTitle"),
                    SubTitle = item.GetPropertyValue<string>("jobTitle"),
                    Description = item.GetPropertyValue<string>("location"),
                    PictureUrl = image.Url,
                    AltText = BusinessContext.GetImageAltTextOrDefault(image, "Box Image"),
                    NavigationUrl = item.Url
                });
        }
    }
}

<section class="page-content">
    @Html.GetGridHtml(Model, "pageContent")

    @*@if (personsModel != null)
    {
        <div class="grey-bg padding-top-row">
            <div class="container">
                <div class="row clearfix">
                    <div class="col-md-12 column">
                        @{ Html.RenderPartial("~/Views/Partials/Common/_ImagesGrid.cshtml", personsModel); }
                    </div>
                </div>
            </div>
        </div>
    }*@

</section>



