﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<GenericDocumentType>
@{
	Layout = "Master.cshtml";
}


@section Banner {
        @Html.Partial("_PageBanner")
}

<section class="page-content">
    @Html.GetGridHtml(Model, "pageContent")
</section>



