﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<PrivacyPageDocumentType>
@{
    Layout = "Master.cshtml";
}

@section Header {   
}

@section Banner {
<section class="page-banner article-banner small black-theme">
    <div class="page-banner-content black-text"><h1 class="main-title">@Umbraco.Field("pageTitle")</h1></div>
</section>
}

<div class="container">
    <hr class="yellow-bg"/>
</div>

<section class="language-selector-wrapper">
    <div class="container text-right">
        <select id="language-selector">
            <option value="nl">Dutch</option>
            <option value="en" selected="selected">English</option>
            <option value="fr">French</option>
        </select>
    </div>
</section>

<section class="page-content">
    @Html.GetGridHtml(Model, "pageContent")
</section>


@section Footer {
}

@section AdditionalPageScripts {
    <script src="~/scripts/privacy.js"></script>
}




