﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    Layout = null;
    Response.AddHeader("Content-Type", "text/xml");

    var homePage = Umbraco.TypedContentAtRoot().FirstOrDefault(x => x.IsDocumentType(HomeDocumentType.ModelTypeAlias));

    const string DATE_TIME_FORMAT = "yyyy-MM-ddTHH:mm:sszzz";
}

<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
        xmlns:image="http://www.google.com/schemas/sitemap-image/1.1"
        xmlns:video="http://www.google.com/schemas/sitemap-video/1.1">
    <url><loc>@homePage.UrlWithDomain()</loc><priority>1.0</priority><lastmod>@homePage.UpdateDate.ToString(DATE_TIME_FORMAT)</lastmod></url>
    @RenderChildPages(homePage.Children, DATE_TIME_FORMAT)
</urlset>

@helper RenderChildPages(IEnumerable<IPublishedContent> pages, string dateTimeFormat)
{
if (pages.Any())
{
    foreach (IPublishedContent item in pages)
    {
        if (item.IsVisible())
        {
                <url><loc>@item.UrlWithDomain()</loc><lastmod>@item.UpdateDate.ToString(dateTimeFormat)</lastmod></url>
        }

        if (item.Children.Any())
        {
                @RenderChildPages(item.Children, dateTimeFormat)
        }
    }
}
}

