﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@if (CurrentPage.IsVisible() && CurrentPage.Ancestors().Any())
{

    foreach (var ancestor in CurrentPage.Ancestors().OrderBy("Level"))
    {
        if(ancestor.IsVisible()){
            <a href="@ancestor.Url">@ancestor.Name</a>
        }
    }
    <span>@CurrentPage.Name</span>
}