﻿@using McCain.Corporate.Umbraco

@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    var navigationSettings = new NavigationSettings(NavigationUtils.GetNavigationSettingsNode());
    var mcCainForLinks = navigationSettings.McCainForLinks;

    var footerLinks = navigationSettings.FooterLinks;

    var copywriteLine = new GeneralSettings(Settings.GetGeneralSettingsNode()).CopywriteLine;

    if (string.IsNullOrEmpty(copywriteLine))
    {
        copywriteLine = string.Format("© {0} McCain Foods Limited", DateTime.Now.Year);
    }
}

<footer>
    <div class="footer-top">
        <div class="breadcrumb">
            @Html.Partial("_Breadcrumb")
        </div>
        <div class="footer-dropdown">
            <div class="footer-dropdown-holder">
                @if (mcCainForLinks != null)
                {
                    foreach (var link in mcCainForLinks)
                    {
                        var linkTarget = (link.NewWindow) ? "_blank" : null;
                        <a href="@link.Link" target="@linkTarget">@link.Caption.ToUpper()</a>
                    }
                }
            </div>

            <div class="footer-dropdown-button">McCain for...</div>
        </div>
    </div>
    <div class="footer-bottom">
        <a href="/" class="logo"><img src="/images/logo-we-are-mccain.png" alt="McCain Logo"></a>
        <div class="footer-links-holder">
            @foreach (var link in footerLinks)
            {
                var linkTarget = (link.NewWindow) ? "_blank" : null;
                <a href="@link.Link" class="footer-link" target="@linkTarget">@link.Caption</a>
            }
            <div>@Html.Raw(copywriteLine)</div>
        </div>
    </div>
</footer>