﻿@using McCain.Corporate.Umbraco

@model GenericButtonSettings


@{ 
    var cssClass = Model.cssClass;
    if (String.IsNullOrEmpty(cssClass))
    {
        cssClass = "yellow";
    }

}

@if (Model != null && !String.IsNullOrEmpty(Model.title))
{
    if (!String.IsNullOrEmpty(Model.alignment))
    {
        @:<div class="button-wrapper align-@Model.alignment">
    }

    <div class="button-holder @cssClass @{ if (Model.title.ToUpper().Contains("MCCAIN")) { <text>no-uppercase</text> } } ">
        <a class="button" role=button href="@Model.url" @{if (Model.openLinkInNewWindow) { <text> target="_blank" </text>   } }>
            @Html.Raw(HttpUtility.HtmlDecode(Model.title))
        </a>
    </div>

    if (!String.IsNullOrEmpty(Model.alignment))
    {
        @:</div>
    }
}
