﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using System.Collections.Generic
@using Cogworks.Meganav.Models
@using McCain.Corporate.Umbraco
@{
    var navigationSettings = new NavigationSettings(NavigationUtils.GetNavigationSettingsNode());
    var hasSocialLinks = navigationSettings.SocialLinks != null && navigationSettings.SocialLinks.Count() > 0;
}

@Html.CachedPartial("_WorldWide", null, 3600)

<section class="main-search-holder">
    <div class="main-search-close"></div>
    <div class="search-holder">
        <form action="/search-results/" method="GET">
            <input class="search" type="search" name="s" autofocus="autofocus" placeholder="Search" title="Type search term here" />
            <div class="search-clean"></div>
            <div class="search-button"></div>
        </form>
    </div>
</section>

<div class="menu-wrapper">
    <div class="menu-mobile-close"></div>

    <div class="menu-holder">
        @Html.Partial("_MainNavigation", navigationSettings.GetPropertyValue<IEnumerable<MeganavItem>>("mainMenu"))
    </div>

    @* search holder, etc *@
    <div class="search-worldwide-holder">
        <div class="search"><span>Search</span></div>
        <div class="separator"></div>
        @if (hasSocialLinks)
        {
            var socialLinks = navigationSettings.SocialLinks.Select(x => new SocialLinkItem(x));

            foreach (var link in socialLinks)
            {
                if (!string.IsNullOrEmpty(link.Link) && link.Icon != null)
                {
                    var cssClass = "menu-social-icon";

                    cssClass += string.IsNullOrEmpty(link.CssClass) ? "" : " " + link.CssClass;

                    <a class="@cssClass" style="background: url('@link.Icon.Url') no-repeat;background-position: center;background-size: cover;" title="@link.Title" aria-label="@link.Title" href="@link.Link" target="_blank"></a>
                }
            }
        }
        <div class="worldwide"></div>
    </div>


</div>

<header>
    <a href="/" class="logo"><img src="/images/logo-mccain.png" alt="McCain Logo"></a>

    <div class="menu-mobile-icon"></div>

</header>
