﻿@using Cogworks.Meganav.Models
@model IEnumerable<MeganavItem>

<nav role="navigation">
    @if (Model.Any())
    {
        foreach (var item in Model)
        {
            var itemUrl = item.Url.ToLower().TrimEnd("/");

            var currentUrl = HttpContext.Current.Request.RawUrl.ToString().ToLower().TrimEnd("/");

            var isActive = currentUrl.EndsWith(itemUrl) || currentUrl.Contains(itemUrl +  "/");

            <div class="menu-item level-first @{if (!item.Children.Any()){<text>no-children</text>}}">
                <a href="@item.Url" target="@item.Target" @{if (isActive){<text>class="active"</text>}}>
                    @item.Title
                </a>
                @RenderChildren(item, 2)
            </div>
        }
    }
</nav>

@helper RenderChildren(MeganavItem parent, int level)
{
var items = parent.Children;

string levelCss = String.Empty;
switch (level)
{
    case 2:
        levelCss = "level-second";
        break;
    case 3:
        levelCss = "level-third";
        break;
}

if (items.Any())
{
        if (!String.IsNullOrEmpty(parent.Title))
        {
            <div class="menu-item @levelCss">
                
                @if (level == 2)
                {
                    <a href="@parent.Url" target="@parent.Target" class="mobile">@parent.Title</a>
                }

                @foreach (var item in items)
                {
                    if (!String.IsNullOrEmpty(item.Title))
                    {

                        <a href="@item.Url" target="@item.Target">
                            @item.Title
                        </a>

                        @RenderChildren(item, level + 1)
                    }
                }
            </div>
            }
        }
}