﻿@using McCain.Corporate.Umbraco
@using McCain.Corporate.Umbraco.Models

@model BaseBannerItem


@{
    string styles = Model.Styles != null ? Model.Styles.ToString() : String.Empty;
    string defaultCssClass = ViewData["defaultCssClass"] != null ? ViewData["defaultCssClass"].ToString() : "article-banner grey-bg black-theme";
    string additionalCssClass = ViewData["additionalCssClass"] != null ? ViewData["additionalCssClass"].ToString() : "";

    var renderDefaultCss = Model.DocumentTypeAlias == BannerItem.ModelTypeAlias && !Model.HasValue("bannerImage");
}

<div class="page-banner @styles.ToString().Replace(",", " ") @Model.CssClass @{if (renderDefaultCss) {<text>@defaultCssClass</text>} } @additionalCssClass">
    <div class="page-banner-content">
        @{
            var title = !String.IsNullOrEmpty(Model.BannerTitle) ? Model.BannerTitle : "";
        }
        <h1 class="main-title">@Html.Raw(title)</h1>

        @if (Model.Introduction != null && !string.IsNullOrEmpty(Model.Introduction.ToString()))
        {
            <div class="overview">@Html.Raw(Model.Introduction)</div>
        }

        @{
            if (Model.NavigationUrl != null)
            {
                var link = Model.NavigationUrl.FirstOrDefault();

                if (link != null)
                {
                    <div class="button-holder rounded yellow"><a href="@link.Link" role="button" class="button" @{if (link.NewWindow) { <text> target="_blank" </text>  } }>@Html.Raw(link.Caption)</a></div>
                }

            }
        }
    </div>

    @switch (Model.DocumentTypeAlias)
                {
                    case BannerItem.ModelTypeAlias:

                        var bannerItem = new BannerItem(Model);

                        if (bannerItem.BannerImage != null)
                        {
                            var altText = BusinessContext.GetImageAltTextOrDefault(bannerItem.BannerImage, title.StripHtml().Trim('.') + " Banner Image");

                <div class="page-banner-image @{ if (bannerItem.BannerImageMobile != null)
                    {<text>has-mobile-image</text>}
                    else {<text>no-mobile-image</text>} }">

                    <picture>
                        @if (bannerItem.BannerImageMobile != null)
                        {
                            <source media="(max-width: 600px)" srcset="@bannerItem.BannerImageMobile.Url">
                            <source media="(min-width: 601px)" srcset="@bannerItem.BannerImage.Url">
                        }
                        <img src="@bannerItem.BannerImage.Url" alt='@altText' />
                    </picture>
                </div>
                        }

                break;
            case VideoBannerItem.ModelTypeAlias:
                var videoItem = new VideoBannerItem(Model);

                var posterUrl = videoItem.VideoPoster != null ? videoItem.VideoPoster.Url : String.Empty;


            <div class="page-banner-image page-banner-video">
                <video class="mp4-video" autoplay loop muted playsinline poster="@posterUrl">
                    <source src="@videoItem.Url" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>

                break;
            case VimeoBannerItem.ModelTypeAlias:
                var vimeoItem = new VimeoBannerItem(Model);

                var vimeoId = VideoUtils.GetVideoId(vimeoItem.VideoUrl);

                var embedUrl = String.Format("https://player.vimeo.com/video/{0}?background=1&autoplay=1&loop=1&byline=0&sidedock=0&title=0&muted=1&dnt=1", vimeoId);

                var vimeoPoster = vimeoItem.VideoPoster != null ? vimeoItem.VideoPoster.Url : String.Empty;
                var posterStyle = String.Empty;
                if (!String.IsNullOrEmpty(vimeoPoster))
                {
                    posterStyle = String.Format("background-image: url({0})", vimeoPoster);
                }

                var hasBannerImageMobile = (vimeoItem.BannerImageMobile != null);
                var cssClass = "page-banner-image page-banner-vimeo";
                if (hasBannerImageMobile)
                {
                    cssClass += " has-mobile-image";
                }

            <div class="@cssClass" style="@posterStyle">
                @if (hasBannerImageMobile)
                {
                    <img src="@vimeoItem.BannerImageMobile.Url" alt='@title + " Banner Image")' class="mobile" />
                }

                <iframe src="@embedUrl" frameborder="0" allow="autoplay; encrypted-media;" webkitallowfullscreen mozallowfullscreen allowfullscreen  class="@{ if (hasBannerImageMobile)
                    {<text>desktop</text>}
                    else {<text></text>} }"></iframe>
            </div>

            break;
    }


</div>

