﻿
@using McCain.Corporate.Umbraco.Models
@using McCain.Corporate.Umbraco
@using Umbraco.Web.PublishedContentModels

@model  BasicDocumentType

@{
    var items = Model.HeaderBannerItems.Select(x => new BaseBannerItem(x));
}

<section class="banners-holder">
    @if (items != null && items.Any())
    {
        var count = items.Count();

        var dataIsLooped = (count == 1) ? "false" : "true";
        var autoplay = count > 0 && Model.AutoplayEnabled;

        <div class="slider">
            <div class="swiper-container" data-is-looped="@dataIsLooped" data-slides-per-view="1" data-key="header" data-autoplay="@autoplay.ToString().ToLower()">
                <div class="swiper-wrapper">
                    @foreach (var bannerItem in items)
                    {
                        <div class="swiper-slide">
                            @{Html.RenderPartial("~/Views/Partials/_PageBannerItem.cshtml", bannerItem);}
                        </div>
                    }
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination swiper-no-swiping"></div>
                
            </div>
        </div>

    }
</section>

