﻿@using McCain.Corporate.Umbraco
@using Umbraco.Web.Models

@inherits Umbraco.Web.Mvc.UmbracoTemplatePage


@{ 
    var reuseRelatedContent = Model.Content.GetPropertyValue<string>("reuseRelatedContent");
    var nextPageLinks = Model.Content.GetPropertyValue<RelatedLinks>("nextPageLink");
    var hideOnCurrentPage = Model.Content.GetPropertyValue<bool>("hideOnCurrentPage");

    IPublishedContent page = null;

    switch (reuseRelatedContent)
    {
        case "section-root-page":
            page = Model.Content.AncestorsOrSelf(2).FirstOrDefault();
            break;
        case "parent-page":
            page = Model.Content.Parent;
            break;
    }

    if (page == null)
    {
        page = Model.Content;
    }


    var leftBoxTitle = page.GetPropertyValue<string>("leftBoxTitle");
    var relatedPageLinks = page.GetPropertyValue<RelatedLinks>("relatedLinks");

    var rightBoxTitle = page.GetPropertyValue<string>("rightBoxTitle");

    var relatedBoxVisible = !String.IsNullOrWhiteSpace(leftBoxTitle)
        || relatedPageLinks != null;

    var nextLinkBoxVisible = nextPageLinks != null;

    var isVisible = !hideOnCurrentPage && (relatedBoxVisible || nextLinkBoxVisible);
}

@if (isVisible)
{
    <section class="related-links">
        @if (relatedBoxVisible)
        {
            <div class="two-columns">
                <div class="related">
                    @if (!String.IsNullOrWhiteSpace(leftBoxTitle))
                    {
                        <div class="two-columns-title">@Html.Raw(leftBoxTitle)</div>
                    }
                    else
                    {
                        <div class="two-columns-title">Related</div>
                    }

                    @Html.Raw(page.GetPropertyValue<string>("leftBoxContent"))

                    @if (relatedPageLinks != null)
                    {
                        <div class="buttons-holder">
                            @foreach (var link in relatedPageLinks)
                            {
                                var caption = link.Caption;
                                if (String.IsNullOrEmpty(caption) && link.IsInternal)
                                {
                                    caption = link.Content.Name;
                                }

                                {
                                    var buttonSettings = new GenericButtonSettings() { title = caption, cssClass = "yellow-border", url = link.Link, openLinkInNewWindow = link.NewWindow };
                                    Html.RenderPartial("~/Views/Partials/_GenericButton.cshtml", buttonSettings);
                                }

                            }
                        </div>
                    }
                </div>
                <div class="questions">
                
                    @if (!String.IsNullOrWhiteSpace(rightBoxTitle))
                    {
                        <div class="two-columns-title">
                            @Html.Raw(rightBoxTitle)
                        </div>
                            @Html.Raw(page.GetPropertyValue<string>("rightBoxContent"))
                    }
                    else
                    {
                        <div class="two-columns-title">
                            Questions
                        </div>

                        <div class="two-columns-text">If you have any questions about McCain Foods, check out our FAQs.</div>
                        <div class="buttons-holder">
                            <div class="button-holder yellow-border"><a class="button" role="button" href="/information-centre/faqs">FAQs</a></div>
                        </div>
                    }
                </div>
            </div>
        }

        @if (nextLinkBoxVisible)
        {
            var link = nextPageLinks.FirstOrDefault();
            var caption = link.Caption;
            if (String.IsNullOrEmpty(caption) && link.IsInternal)
            {
                caption = link.Content.Name;
            }

            <div class="one-column">
                <div class="button-holder yellow full"><a class="button" role="button" href="@link.Link" @{if (link.NewWindow){ <text>target="_blank"</text> } }><span class="title">NEXT</span><span class="subtitle">@Html.Raw(caption)</span></a></div>
            </div>
        }
    </section>

}