﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<BasicDocumentType>
@using McCain.Corporate.Umbraco;

    @{

        string siteName = "McCain Foods Global Corporate";
        string canonical = Model.Url.ToAbsoluteUrl().Replace("http://", "https://");
        string title = "";
        string meta_description = "";
        string ogTitle = "";
        string ogImage = "";
        string ogDescription = "";


        <link rel="canonical" href="@canonical" />

        if (!String.IsNullOrEmpty(Model.SeoTitle))
        {
            title = Model.SeoTitle;
        }
        else
        {
            var pageTitleAdapted = Model.PageTitle.Length > 60 ? Model.PageTitle.Substring(0, 60) + "..." : Model.PageTitle;

            title = pageTitleAdapted + " | " + siteName;
        }
 

        if (!string.IsNullOrEmpty(Model.MetaDescription))
        {
            meta_description = Model.MetaDescription;
        }
        else
        {
            var content = Html.GetGridHtml(Model, "pageContent").ToString().StripHtml().Trim();
            if (!String.IsNullOrEmpty(content))
            {
                meta_description = content.Length <= 300 ? content : Umbraco.Truncate(content, 300).ToString();
            }else
            {
                meta_description = "";
            }
        }

        ogTitle = !string.IsNullOrEmpty(Model.OpenGraphTitle) ? Model.OpenGraphTitle : title;

        ogDescription = !string.IsNullOrEmpty(Model.OpenGraphDescription) ? Model.OpenGraphDescription : meta_description;

        var imageId = Model.OpenGraphImage != null ? Model.OpenGraphImage.Id : 1; // TODO: define default og image

        var image = Umbraco.TypedMedia(imageId);

        if (image != null)
        {
            ogImage = image.Url.ToAbsoluteUrl();
        }

        <title>@title</title>
        <meta name="description" content="@meta_description">
        <meta name="keywords" content="@Model.GetPropertyValue("metaKeywords").ToString()">

        <meta property="og:type" content="website">

        <meta property="og:title" content="@ogTitle" />

        <meta property="og:image" content="@ogImage" />

        <meta property="og:url" content="@canonical" />

        <meta property="og:description" content="@ogDescription" />

        <meta property="og:site_name" content="@siteName" />
    }