﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using McCain.Corporate.Umbraco
@using Umbraco.Web.Models
@using Cogworks.Meganav.Models

@{
    var navigationSettingsNode = new NavigationSettings(NavigationUtils.GetNavigationSettingsNode());
}

@if (navigationSettingsNode != null && navigationSettingsNode.WorldWideLinks != null)
{
    <section class="worldwide-holder">
        <div class="worldwide-icon"></div>
        <div class="worldwide-close"></div>
        <div class="worldwide-row">
            @foreach (var category in navigationSettingsNode.WorldWideLinks)
            {
                <div class="worldwide-category-holder worldwide-@category.Title.ToLower()">
                    <div class="worldwide-category-title">@category.Title</div>
                    @RenderLinksHolders(category.Children)
                </div>
            }
        </div>
    </section>
}


@helper RenderLinks(IEnumerable<MeganavItem> linksList)
{
if (linksList != null)
{
    foreach (var link in linksList)
    {
        if (link.Url == "#")
        {
                <div class="title">@link.Title</div>
        }
        else
        {
                <a href="@link.Url" target="@link.Target">@link.Title</a>
        }
    }
}
}

@helper RenderLinksHolders(IEnumerable<MeganavItem> linksHolderList)
{
if (linksHolderList != null && linksHolderList.Count() > 0)
{

    if (linksHolderList.First().Children != null && linksHolderList.First().Children.Count() > 0) // depth is 2
    {
        foreach (var linksHolder in linksHolderList)
        {
            if (linksHolder.Children.Count() > 8)
            {
                var splittedLists = linksHolder.Children.Split(8);

                for (var i = 0; i < splittedLists.Count(); i++)
                {
                        <div class="worldwide-links-holder">
                            
                                @if (i == 0)
                                {
                                    <div class="title">
                                    @linksHolder.Title
                                   </div>
                                }
                                else
                                {
                                    <div class="title title-empty">
                                        <text>&nbsp;</text>
                                    </div>
                                }
                            
                            @RenderLinks(splittedLists.ElementAt(i))
                        </div>
                    }

                }
                else
                {

                    <div class="worldwide-links-holder">
                        <div class="title">@linksHolder.Title</div>
                        @RenderLinks(linksHolder.Children)
                    </div>
                }
            }

        }
        else // depth is 1
        {
            // depth is 1
            if (linksHolderList.Count() > 8)
            {

                var splittedLists = linksHolderList.Split(8);
                foreach (var splitted in splittedLists)
                {
                    <div class="worldwide-links-holder">
                        @RenderLinks(splitted)
                    </div>
                }
            }
            else
            {
                <div class="worldwide-links-holder">
                    @RenderLinks(linksHolderList)
                </div>
        }
    }
}

}

