﻿@model dynamic
@using Umbraco.Web.Templates
@using Umbraco.Web
@using Umbraco.Core
@using McCain.Corporate.Umbraco 

@if (Model.value != null)
{
    var url = Model.value.image;
    if (Model.editor.config != null && Model.editor.config.size != null)
    {
        url += "?width=" + Model.editor.config.size.width;
        url += "&height=" + Model.editor.config.size.height;

        if (Model.value.focalPoint != null)
        {
            url += "&center=" + Model.value.focalPoint.top + "," + Model.value.focalPoint.left;
            url += "&mode=crop";
        }
    }

    var umbracoHelper = new UmbracoHelper(UmbracoContext.Current);
    string originalAltText = string.Empty;
    string udiString = Model.value.udi;
    Udi udi;
    if (Udi.TryParse(udiString, out udi))
    {
        var id = umbracoHelper.GetIdForUdi(Udi.Parse(udiString));

        var media = umbracoHelper.TypedMedia(id);

        originalAltText = BusinessContext.GetImageAltTextOrDefault(media, string.Empty);
    }


    var altText = Model.value.altText ?? originalAltText ?? Model.value.caption ?? string.Empty;


    <div class="image-macro">
        <img src="@url" alt="@altText">

        @if (Model.value.caption != null)
        {
            <p class="caption">@Model.value.caption</p>
        }
    </div>
}
